<form action="" [formGroup]="formData">
  <div class="action-form mgb-20">
    <button>Ghi nhận</button>
    <button>Khóa dữ liêu</button>
  </div>
  <app-note-form2>
    <p>Ô nhập ngày tháng, nếu quý vị không nhớ rõ thì nhập là ngày 01, tháng năm bắt buộc phải nhập chính sác.</p>
    <p>Khi chiết xuất dữ liệu chỉ sử dụng tháng năm</p>
  </app-note-form2>
  <div class="form-item">
    <div class="form-item-title">
      Danh sách hợp đồng lao động
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Số HD</th>
          <th>Loại HD</th>
          <th>Ngày hiệu lực</th>
          <th>Ngày hết hiệu lực</th>
          <th>Đơn vị tuyển dụn</th>
          <th>Công việc đảm nhận</th>
          <th>
            <span class="action-icon"><i class="fa fa-plus"></i></span>
            <span class="action-icon" (click)="resetForm(formData)"><i
              class="fa fa-remove icon-remove-update"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!---->
        <tr>
          <td></td>
          <td><input type="text" class="form-control" style="width: 100px" formControlName="number"></td>
          <td>
            <select class="form-control"  formControlName="specie">
              <option value="">--------Chọn---------</option>
              <option value="">--------Chọn---------</option>
            </select>
          </td>
          <td><input type="text" class="form-control"  formControlName="dateEffect"></td>
          <td><input type="text" class="form-control"  formControlName="dateEndEffect"></td>
          <td>
            <select class="form-control"  formControlName="unitOrgan">
              <option value="">--------Chọn---------</option>
              <option value="">--------Chọn---------</option>
            </select></td>
          <td><input type="text" class="form-control"  formControlName="job"></td>
          <td>
            <span class="action-icon" (click)="addItem()"><i class="fa fa-save"></i></span>
            <span class="action-icon" (click)="resetForm(formData)"><i
              class="fa fa-remove icon-remove-update"></i></span>
          </td>
        </tr>
        <!--content-->
        <tr *ngFor="let item of listContracts.toArray();let i = index">
          <td>{{i+1}}</td>
          <td>{{item.number}}</td>
          <td>{{item.specie}}</td>
          <td>{{item.dateEffect}}</td>
          <td>{{item.dateEndEffect}}</td>
          <td>{{item.unitOrgan}}</td>
          <td>{{item.job}}</td>
          <td>
            <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
            <span class="action-icon" ><i class="fa fa-lock"></i></span>
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>
  </div>
</form>
