<div class="form-item">
  <div class="form-item-title">
    Danh sách hợp đồng lao động
  </div>
  <form action="">
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <!--<button>Khóa dữ liêu</button>-->
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>

    </div>
    <div class="table-responsive" id="contact-print">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Số HD</th>
          <th>Loại HD</th>
          <th>Ngày hiệu lực</th>
          <th>Ngày hết hiệu lực</th>
          <th>Đơn vị tuyển dụng</th>
          <th>Công việc đảm nhận</th>
          <th class="hide-print">
            <span class="action-icon" title="Thêm thông tin" (click)="openModal(modalContract)"><i
              class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listContracts.toArray();let i = index">
          <td>{{i+1}}</td>
          <td>{{(item.numberContact)}}</td>
          <td>{{getContact(item.specie)!=null?getContact(item.specie).title:''}}</td>
          <td>{{item.dateEffect | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.dateEndEffect | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.unitOrgan}}</td>
          <td>{{item.job}}</td>
          <td class="hide-print">
            <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
            <!--<span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>-->
            <!--<span class="action-icon"><i class="fa fa-lock"></i></span>-->
            <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = item"><i class="fa fa-remove "></i></span>
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>

  </form>
</div>


<modal #modalContract size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modalContract)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin hợp đồng </h3>
    <div *ngIf="message.condition && formNotValid " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="contract-form">
      <div class="row">

        <div class="col-xs-12 col-sm-6 ">

          <div class="item-control pdt-i-0">
            <label>Số HD</label>
            <input type="text" class="form-control" #numberContact formControlName="numberContact"
                   [value]="initData.numberContact">
            <div class="error" *ngIf="numberContact.value.trim()  =='' && formTouch">
              Chưa nhập số hợp đồng
            </div>
          </div>


          <!---->
          <div class="item-control">
            <label>Ngày hiệu lực </label>
            <input type="date" class="form-control" #dateEffect formControlName="dateEffect"
                   [value]="initData.dateEffect | date:'yyyy-MM-dd'">
            <div class="error" *ngIf="dateEffect.value.trim()  =='' && formTouch">
              Chưa nhập ngày hiệu lực
            </div>
          </div>
          <div class="item-control">
            <label>Đơn vị tuyển dụng </label>
            <input type="text" class="form-control" #unitOrgan formControlName="unitOrgan" [value]="initData.unitOrgan">
          </div>

          <div class="error" *ngIf="unitOrgan.value.trim()  =='' && formTouch">
            Chưa nhập đơn vị tuyển dụng
          </div>

        </div>

        <div class="col-xs-12 col-sm-6 ">
          <div class="item-control pdt-i-0 ">
            <label>Loại HD </label>
            <select class="form-control" formControlName="specie" #specie [value]="initData.specie">
              <option *ngFor="let item of contactType" [value]="item.value">{{item.title}}</option>
            </select>
            <div class="error" *ngIf="specie.value.trim()  =='' && formTouch">
              Chưa chọn loại hóa đơn
            </div>
          </div>

          <div class="item-control">
            <label>Ngày hết hiệu lực </label>
            <input type="date" class="form-control" #dateEndEffect formControlName="dateEndEffect"
                   [value]="initData.dateEndEffect | date:'yyyy-MM-dd'">
            <div class="error" *ngIf="dateEndEffect.value.trim()  =='' && formTouch">
              Chưa nhập ngày hết hiệu lực
            </div>
          </div>

          <div class="item-control">
            <label>Công việc đảm nhận </label>
            <input type="text" class="form-control" #job formControlName="job" [value]="initData.job">
          </div>
          <div class="error" *ngIf="job.value.trim()  =='' && formTouch">
            Chưa nhập công việc đảm nhận
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate==-1?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>


<!--print-->
