<div class="form-item">
  <div class="form-item-title">
    Thông tin quá trình đi nước ngoài
  </div>
<form>
    <div class="action-form" style="margin-bottom: 10px;">
      <button>Ghi nhận</button>
      <button>Khóa dữ liêu</button>
    </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>STT</th>
              <th>Từ ngày</th>
              <th>Đến ngày</th>
              <th>Đi nước</th>
              <th>Mục đích</th>
              <th>Tên tổ chức/cá nhân</th>
              <th>Sản phẩm</th>
              <th>
                <span class="action-icon" (click)="openModal(modal)"><i class="fa fa-plus"></i></span>
              </th>
            </tr>
            </thead>
            <tbody>

            <!--content-->
            <tr *ngFor="let item of listForeignForm.toArray();let i = index">
              <td>{{i+1}}</td>
              <td>{{item.dateFrom}}</td>
              <td>{{item.dateEnd}}</td>
              <td>{{nationalService.getNationByCode(item.national).name}}</td>
              <td>{{item.nameOrganInvite}}</td>
              <td>{{item.purpose}}</td>
              <td>{{item.product}}</td>
              <td>
                <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
                <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
                <span class="action-icon"><i class="fa fa-lock"></i></span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
</form>
</div>


<!--modal qua trinh hoat dong Doan-->
<modal #modal size='lg' cssClass="my-modal-lg" backdrop="false">
  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
  </modal-header>
  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 ">
          <div class="item-control">
            <label>Từ ngày </label>
            <input type="text" formControlName="dateFrom">
          </div>
          <!---->
          <div class="item-control">
            <label>Đến ngày </label>
            <input type="text" formControlName="dateEnd">
          </div>
          <!---->
          <div class="item-control">
            <label>Đi nước </label>
            <select class="form-control" formControlName="national"  style="width: 200px">
              <option value="not" *ngIf="positionUpdate == -1">------------ Chọn ------------</option>
              <option *ngFor="let item of nationalService.nationals" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <input type="radio" value="tcnn" formControlName="organInvite"> <span
            class="mgr-15">Tổ chức nước ngoài mời</span>
            <input type="radio" value="cn" formControlName="organInvite"><span class="mgl-15">Cá nhân mời</span>
          </div>
          <!---->
          <div class="item-control">
            <label>Chi phí đi lại</label>
            <select class="form-control" formControlName="costGoBack">
              <option value="dt">Phí đối tác</option>
              <option value="hv">Học Viện</option>
            </select>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 ">
          <div class="item-control">
            <label>Mục đích </label>
            <input type="text" formControlName="purpose"/>
          </div>
          <!---->
          <div class="item-control">
            <label>Tổ chức cá nhân mời </label>
            <input type="text" formControlName="nameOrganInvite" class=""/>
          </div>
          <!---->
          <div class="item-control">
            <label>Sản phẩm</label>
            <input type="text" formControlName="product"/>
          </div>
          <!---->
          <p class="mgt-20 text-right">(Sản phẩm: Tên bằng cấp, chứng chỉ, bản báo cáo...)</p>
          <div class="item-control">
            <label>Chi phí ăn ở</label>
            <select class="form-control" formControlName="costLiving">
              <option value="dt">Phí đối tác</option>
              <option value="hv">Học Viện</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer>
      <button class="btn-action" (click)="addItem()">{{positionUpdate==-1?" Thêm ":" Cập nhật "}}</button>
  </modal-footer>
</modal>
