/*.item-control {*/
  /*text-align: center;*/
/*}*/

@media (max-width: 767px) {
  .item-control {
    text-align: left;
  }
}
input,select{
  width: 100% !important;
}
form{
  border: none;
  padding: 0;
  margin: 0;
}
