<div class="form-item">
  <div class="form-item-title">
    Thông tin quá trình đi nước ngoài
  </div>
  <form>
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <div class="table-responsive" id="foreign-print">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Từ ngày</th>
          <th>Đến ngày</th>
          <th>Đi nước</th>
          <th>Mục đích</th>
          <th>Sản phẩm</th>
          <th class="hide-print">
            <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>

        <!--content-->
        <tr *ngFor="let item of listForeignForm.toArray();let i = index">
          <td>{{i+1}}</td>
          <td>{{item.dateFrom | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.dateEnd | date: 'dd/MM/yyyy'}}</td>
          <td>{{nationalService.getNationalByCode(nationals,item.national).name}}</td>
          <td>{{item.purpose}}</td>
          <td>{{item.product}}</td>
          <td class="hide-print">
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <!--<span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>-->

            <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = i"><i class="fa fa-remove "></i></span>
            <!--<span class="action-icon"><i class="fa fa-lock"></i></span>-->
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </form>
</div>


<!--modal qua trinh hoat dong Doan-->
<modal #modal size='lg' cssClass="my-modal-lg" backdrop="false">
  <modal-header>
    <div class="action-form mgb-i-10 text-right">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin quá trình đi nước ngoài </h3>
    <div *ngIf="message.condition && formNotValid " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>
  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="foreign-form">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 ">
          <div class="item-control">
            <label>Từ ngày </label>
            <input type="date" formControlName="dateFrom" required #dateFrom>
          </div>
          <!---->
          <div class="item-control" *ngIf="dateFrom.value.trim()  =='' && formTouch">
            <div class="error">
              Chưa nhập từ ngày
            </div>
          </div>

          <div class="item-control">
            <label>Đến ngày </label>
            <input type="date" formControlName="dateEnd" required #dateEnd>
          </div>
          <div class="item-control" *ngIf="dateEnd.value.trim()  =='' && formTouch">
            <div class="error">
              Chưa nhập đến ngày
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Đi nước </label>
            <select class="form-control" formControlName="national" style="width: 200px" required #national>
              <option *ngFor="let item of nationals" [value]="item.code">{{item.name}}</option>
            </select>

            <div class="item-control" *ngIf="national.value.trim()  =='' && formTouch">
              <div class="error">
                Chưa chọn nước
              </div>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-5 ">
          <div class="item-control">
            <label>Mục đích </label>
            <input type="text" formControlName="purpose" required #purpose/>
          </div>
          <div class="item-control" *ngIf="purpose.value.trim()  =='' && formTouch">
            <div class="error">
              Chưa nhập mục đích
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Sản phẩm</label>
            <input type="text" formControlName="product"/>
          </div>
          <!---->
          <p class="mgt-20 text-right">(Sản phẩm: Tên bằng cấp, chứng chỉ, bản báo cáo...)</p>
        </div>
      </div>
    </form>
  </modal-body>
  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate== null?" Thêm ":" Cập nhật "}}</button>
  </modal-footer>
</modal>


<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>
