<div id="tab-left" class="hidden-xs">
  <div>
    <div class="tab-left">
      <ul class="nav nav-tabs">
        <li class="active" *ngIf="isLogin"><a data-toggle="tab" href="#app">App</a></li>
        <li [ngClass]="!isLogin?'active':''"><a data-toggle="tab" href="#home1">Khoa</a></li>
        <li><a data-toggle="tab" href="#home2">Phòng Ban</a></li>
        <a *ngIf="!isLogin" class="login" title="Đăng nhập " (click)="openModal(loginModal)">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </a>
        <a *ngIf="isLogin" class="login" title="Đăng xuất  " (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </ul>

      <div class="tab-content">

        <div id="app" class="tab-pane fade in active" *ngIf="isLogin">
          <ul class="content">
            <!--*ngFor="let item of menuApp | orderBy:'title';let i = index"-->
            <li >
              <!--<a routerLinkActive="active"  *ngFor="let item of menuApp" [routerLink]="item.href" (click)="openMenu(item)">{{item.title}}</a>-->

              <a style="cursor: pointer"
                 [ngClass]="item.title.toLowerCase()!=getMyCvTitle().toLowerCase()?'first-upper-case':''"
                 *ngFor="let item of menuApp | orderBy:'title';let i = index"
                 (click)="openMenu2(item,'#menu-app-item-role-' + i)"
                 [id]="'menu-app-item-role-' + i">{{item.title.toLowerCase()!=getMyCvTitle().toLowerCase()?item.title.toLowerCase():item.title}}</a>

              <!--<a style="cursor: pointer"-->
                 <!--(click)="openMenu2(item,'#menu-app-item-role-' + i)"-->
                 <!--[id]="'menu-app-item-role-' + i">{{item.title}}</a>-->
            </li>
            <li *ngIf="menuApp.length == 0">
              <a>
                Bạn không có chức năng nào.
              </a>
            </li>
          </ul>
        </div>

        <div id="home1" class="tab-pane fade in active">
          <ul class="content">
            <li *ngFor="let item of faculty | orderBy:'title'"><a class="first-upper-case" [href]="item.url?item.url:''"
                                                                  target="_blank">{{item.name.toLowerCase()}}</a>
            </li>
          </ul>
        </div>

        <div id="home2" class="tab-pane fade">
          <ul class="content">
            <li *ngFor="let item of departments | orderBy:'title'"><a class="first-upper-case"
                                                                      [href]="item.url?item.url:''" target="_blank">{{item.name.toLowerCase()}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


<modal #loginModal size='sm' cssClass="my-modal-login" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button class="btn btn-default" (click)="closeModal(loginModal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form [formGroup]="formDataLogin" (ngSubmit)="onLogin(loginModal)" class="pdb-20">

      <div class="mgb-10">
        <label class="fs-15">Tên tài khoản : </label>
        <input type="text" required class="form-control" formControlName="userName">
      </div>
      <div>
        <label class="fs-15">Mật khẩu : </label>
        <input type="password" required class="form-control" formControlName="passWord">
      </div>
      <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <div class="text-left">
      <a style="cursor: pointer" (click)="openModalForgetPass(forgetPass,loginModal)">Quên mật khẩu ? </a>
    </div>
    <div class=" text-right">
      <button class="btn btn-success" (click)="onLogin(loginModal)">Đăng nhập</button>
    </div>

  </modal-footer>

</modal>


<modal #forgetPass size='sm' cssClass="my-modal-login" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button class="btn btn-default" (click)="closeModal(forgetPass)">Thoát</button>
    </div>
    <h3 class="text-center">Quên mật khẩu</h3>
  </modal-header>

  <modal-body>
    <form class="pdb-20" #formForget="ngForm">

      <div class="mgb-10">
        <label class="fs-13">Mã cán bộ : </label>
        <input type="text" required class="form-control" name="username"
               #username="ngModel" ngModel>
        <div class="error fs-13" *ngIf="username.touched && username.value.trim() ==''">
          Chưa nhập mã cán bộ
        </div>


      </div>
      <div>
        <label class="fs-13">Email : </label>
        <input type="email" required pattern="^\w+([\.-_]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control"
               name="email"
               #email="ngModel" ngModel>
      </div>

      <div class="item-control">
        <div class="error fs-13" *ngIf="email.touched && !validEmail(email.value)">Email phải đúng định abc@xx...
        </div>
      </div>


      <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <div class=" text-right">
      <button class="btn btn-success" (click)="onForgetPass(formForget)">Gửi</button>
    </div>
  </modal-footer>

</modal>
