#tab-left {
  position: fixed;
  width: 380px;
  top: 0;
  background: transparent;
  z-index: 99999;
  height: 100vh;
  transform: translateX(-340px);
  transition: 0.5s ease-in-out;
}

#tab-left:hover {
  transform: translateX(0);
}

.z-index-50 {
  z-index: 50 !important;
}

.tab-left {
  top: 0;
  position: fixed;
  z-index: 9999999;
  border: 1px solid #eeeeee;
  background: #eeeeee;
  /*transform: translateX(-300px);*/
  transition: 0.5s ease-in-out;
  width: 340px;
  height: 100vh;
}

.tab-left-toggle {
  transform: translateX(0) !important;
  /*width: 300px;*/
}

.tab-left .tab-content ul {
  padding: 0 15px;

}

.tab-left ul.content li a {
  display: block;
  padding-top: 5px;
  padding-bottom: 10px;
}

.tab-left ul li:first-child a {
  padding-top: 10px;
}

.tab-left ul.content li:first-child a {
  padding-top: 20px;
}

.tab-left ul.content li:last-child a {
  padding-bottom: 20px;
}

.tab-left ul.content li a:hover {
  color: #8d9c00;
}

.tab-left .content {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 50px !important;
}

.tab-left > ul > li {
  font-size: 20px;
  font-weight: 500;
}

.tab-left .icon-tab-close {
  padding: 5px;
  position: absolute;
  right: -80px;
  color: #fff;
  cursor: pointer;
}

.icon-tab-open {
  cursor: pointer;
  padding: 5px;
  transition: 0.3s ease-in-out;
  max-width: 10px;
}

.dp-none {
  display: none;
}

.icon-open {
  padding: 0;
  width: 0;
  height: 0px;
  transition: 0.3s ease-out;
}

.login {
  font-size: 30px !important;
  cursor: pointer;
  color: #337ab7;
  position: absolute;
  right: 10px;
}

@media (max-width: 991px) {
  .tab-left {
    height: 100vh;
  }

  .tab-left .content {
    min-height: 100vh;
  }
}

.icon-open-tab-toggle {
  opacity: 0;
  cursor: default;
}
