<div class="form-item">
  <div class="form-item-title">
    Đề tài - dự án khoa học
  </div>
  <form>
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <!--<button (click)="blockData()">Khóa dữ liệu</button>-->
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive" id="sciece-topic-print">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tên đề tài</th>
              <th>Mã đề tài</th>
              <th>Ngày bắt đầu</th>
              <th>Số tháng thực hiện</th>
              <th>Vai trò trong đề tài</th>
              <th>Cấp đề tài</th>
              <th>Đánh giá loại</th>
              <th class="hide-print">
                <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
              </th>
            </tr>
            </thead>
            <tbody>
            <!--content-->
            <tr *ngFor="let item of listScienceTopic.toArray();let i = index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.code}}</td>
              <td>{{item.dateBegin | date:'dd/MM/yyyy'}}</td>
              <td>{{item.monthWork}}</td>
              <td>{{item.role}}</td>
              <td>{{item.level}}</td>
              <td>{{item.specieObtain}}</td>
              <td class="hide-print">
                <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
                <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
                <!--<span class="action-icon"><i class="fa fa-lock"></i></span>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>

<modal #topicModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(topicModal)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin đề tài khoa học  </h3>
    <div *ngIf="message.condition && formNotValid" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="science-topic-form">
      <div class="row">

        <div class="col-xs-12 col-sm-6 ">
          <div class="item-control pdt-i-0">
            <label>Tên đề tài </label>
            <input type="text" formControlName="name" required #name>
            <div class="error" *ngIf="name.value.trim()  =='' && formTouch">
              Chưa nhập tên đề tài
            </div>
          </div>

          <div class="item-control">
            <label>Mã đề tài </label>
            <input type="text" formControlName="code" required #code>
            <div class="error" *ngIf="code.value.trim()  =='' && formTouch">
              Chưa nhập mã đề tài
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Ngày bắt đầu</label>
            <input type="date" formControlName="dateBegin" required #dateBegin>
            <div class="error" *ngIf="dateBegin.value.trim()  =='' && formTouch">
              Chưa nhập ngày bắt đầu
            </div>
          </div>

          <div class="item-control  ">
            <label class="mgr-20">Số tháng thực hiện</label>
            <input type="number" formControlName="monthWork" style="width: 80px" required #monthWork>
            <div class="error" *ngIf="monthWork.value.trim()  =='' && formTouch">
              Chưa nhập số tháng thực hiện
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 ">

          <div class="item-control pdt-i-0">
            <label>Vai trò trong đề tài</label>
            <input type="text" formControlName="role" required #role>
            <div class="error" *ngIf="role.value.trim()  =='' && formTouch">
              Chưa nhập vai trò trong đề tài
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Cấp đề tài </label>
            <input type="text" formControlName="level" required #level>
            <div class="error" *ngIf="level.value.trim()  =='' && formTouch">
              Chưa nhập cấp đề tài
            </div>
          </div>
          <!---->
          <!---->
          <div class="item-control">
            <label>Đánh giá loại </label>
            <select formControlName="specieObtain" class="form-control" required #speciesObtains>
              <option *ngFor="let item of speciesObtain" [value]="item">{{item}}</option>
            </select>
            <div class="error" *ngIf="speciesObtains.value.trim()  =='' && formTouch">
              Chưa chọn đánh giá loại
            </div>
          </div>
          <!---->
        </div>

      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>
