<form>
  <div class="action-form">
    <button>Ghi nhận</button>
    <button>Khóa dữ liệu</button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-item">
        <div class="form-item-title">
          Đề tài - dự án khoa học
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tên đề tài</th>
              <th>Mã đề tài</th>
              <th>Ngày bắt đầu</th>
              <th>Số tháng thực hiện</th>
              <th>Vai trò trong đề tài</th>
              <th>Cấp đề tài</th>
              <th>Tiến độ dự án</th>
              <th>Đánh giá loại</th>
              <th>
                <span class="action-icon" (click)="openModal(topicModal)"><i class="fa fa-plus"></i></span>
              </th>
            </tr>
            </thead>
            <tbody>
            <!--content-->
            <tr *ngFor="let item of listScienceTopic.toArray();let i = index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.code}}</td>
              <td>{{item.dateBegin}}</td>
              <td>{{item.monthWork}}</td>
              <td>{{item.role}}</td>
              <td>{{item.level}}</td>
              <td>{{item.progress}}</td>
              <td>{{item.specieObtain}}</td>
              <td>
                <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
                <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
                <span class="action-icon"><i class="fa fa-lock"></i></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>


<modal #topicModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(topicModal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData">
      <div class="row">

        <div class="col-xs-12 col-sm-6 ">
          <div class="item-control pdt-i-0">
            <label>Tên đề tài </label>
            <input type="text" formControlName="name">
          </div>

          <div class="item-control">
            <label>Mã đề tài </label>
            <input type="text" formControlName="code">
          </div>
          <!---->
          <div class="item-control">
            <label>Ngày bắt đầu</label>
            <input type="date" formControlName="dateBegin">
          </div>

          <div class="item-control  ">
            <label class="mgr-20">Số tháng thực hiện</label>
            <input type="number" formControlName="monthWork" style="width: 80px">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 ">

          <div class="item-control pdt-i-0">
            <label>Vai trò trong đề tài</label>
            <select class="form-control " formControlName="role">
              <option value=""> ---Chọn---</option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label>Cấp đề tài </label>
            <select class="form-control " formControlName="level">
              <option value=""> ---Chọn---</option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label>Tiến độ dự án </label>
            <select class="form-control " formControlName="progress">
              <option value=""> ---Chọn---</option>
            </select>
          </div>
          <!---->
          <!---->
          <div class="item-control">
            <label>Đánh giá loại </label>
            <select class="form-control " formControlName="specieObtain">
              <option value=""> ---Chọn---</option>
            </select>
          </div>
          <!---->
        </div>

      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == -1?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>
