<div class="form-item">
  <div class="form-item-title">
    Quá trình giảng dạy
  </div>
  <form action="">
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên môn học</th>
          <th>Bậc đào tạo</th>
          <th>Số tín chỉ</th>
          <th>Đơn vị giảng dạy</th>
          <th>Năm bắt đầu giảng dạy</th>
          <th>Ngôn ngữ giảng dạy</th>
          <th>
            <span class="action-icon" (click)="openModals();"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!---->
        <tr *ngFor="let item of listTeaching.toArray();let i = index ">
          <td>{{i+1}}</td>
          <td>{{item.nameSubjects}}</td>
          <td>{{item.levelEducation}}</td>
          <td>{{item.credit}}</td>
          <td>{{item.organTeaching}}</td>
          <td>{{item.yearTeaching}}</td>
          <td>{{nationalService.getNationalByCode(nationals,item.languageTeaching).name}}</td>
          <td>
            <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
            <span class="action-icon"><i class="fa fa-lock"></i></span>
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>

  </form>
</div>

<modal #modal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
    <div *ngIf="message.condition && formNotValid " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="process-teaching">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="item-control">
            <label>Tên môn học</label>
            <input type="text" formControlName="nameSubjects" required>
          </div>

          <div class="item-control">
            <label>Bậc đào tạo</label>
            <select class="form-control" formControlName="levelEducation" required>
              <option *ngFor="let item of rankTrains" [value]="item">{{item}}</option>
            </select>
          </div>

          <div class="item-control">
            <label>Số tín chỉ</label>
            <input type="number" min="1"  formControlName="credit" >
          </div>

          <div class="item-control">
            <label>Đơn vị giảng dạy</label>
            <input type="text" formControlName="organTeaching" required>
          </div>
          <div class="item-control">
            <label>Năm bắt đầu giảng dạy</label>
            <input type="number"  formControlName="yearTeaching" required>
          </div>

          <div class="item-control">
            <label>Ngôn ngữ giảng dạy</label>
            <select class="form-control" formControlName="languageTeaching" style="width: 200px" required>
              <option *ngFor="let item of nationals" [value]="item.code">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == -1?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>
