<form action="" [formGroup]="formData">
  <div class="action-form">
    <button>Khóa dữ liệu</button>
  </div>
  <app-note-form>
    Ô nhập ngày tháng, nếu Qúy vị không nhớ rõ thì nhập ngày là 01,tháng năm bắt buộc phải nhập chính sác.
    Khi chiết xuất dữ liệu chỉ sử dụng tháng năm
  </app-note-form>

  <div class="form-item">
    <div class="form-item-title">
      Quá trình giảng dạy
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên môn học </th>
          <th>Bậc đào tạo </th>
          <th>Số tín chỉ </th>
          <th>Đơn vị giảng dạy </th>
          <th>Năm bắt đầu giảng dạy </th>
          <th>Ngôn ngữ giảng dạy </th>
          <th>
            <span class="action-icon" (click)="onSave()"><i class="fa fa-plus"></i></span>
            <span class="action-icon" (click)="resetForm(formData)"><i
              class="fa fa-remove icon-remove-update"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!---->
        <tr>
          <td></td>
          <td>
            <input type="text" formControlName="nameSubjects">
          </td>
          <td>
            <select class="form-control" formControlName="levelEducation">
              <option value="">--------Chọn---------</option>
              <option value="">Cử nhân, kỹ sư </option>
              <option value="">Cao học </option>
            </select>
          </td>
          <td>
            <input type="number" min="1" style="width:70px;" formControlName="credit" >
          </td>
          <td>
            <select class="form-control" formControlName="organTeaching">
              <option value="">--------Chọn---------</option>
            </select>
          </td>
          <td>
            <input type="text" style="width:70px;" formControlName="yearTeaching">
          </td>
          <td>
            <select class="form-control" formControlName="languageTeaching">
              <option value="">--------Chọn---------</option>
            </select>
          </td>
          <td>
            <span class="action-icon" (click)="addItem()"><i class="fa fa-save"></i></span>
            <!--<span class="action-icon" (click)="resetForm(formData)"><i-->
              <!--class="fa fa-remove icon-remove-update"></i></span>-->
          </td>
        </tr>
        <!---->
        <tr *ngFor="let item of listTeaching.toArray();let i = index ">
          <td>{{i+1}}</td>
          <td>{{item.nameSubjects}}</td>
          <td>{{item.levelEducation}}</td>
          <td>{{item.credit}}</td>
          <td>{{item.organTeaching}}</td>
          <td>{{item.yearTeaching}}</td>
          <td>{{item.languageTeaching}}</td>
          <td>
            <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
            <span class="action-icon" ><i class="fa fa-lock"></i></span>
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>
  </div>
</form>
