<div class="form-item" id="cv">
  <div class="form-item-title">Sơ yếu lí lịch</div>
  <form action="" [formGroup]="formCV" id="form-cv">
    <div class="action-form">
      <button (click)="onSave()">Ghi nhận</button>
      <!--<button>Khóa dữ liệu</button>-->
      <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>

    </div>
    <div class="row info-basic mgb-20">
      <div class="col-xs-12 col-sm-12 col-md-3 ">
        <div class="mgr-15 image-info mgb-10 mgt-10" style="background-color: red"
             [style.background]="'url(' + infoBasic.avatarUrl + ')'">
          <input type="file" accept=".jpg,.png" accept="image/x-png,image/gif,image/jpeg" title="Chọn ảnh"
                 style="width: auto" (change)="avatarChange($event)">
        </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-8">
        <div>
          <div>

            <div class="item-control " style="clear: none">
              <label class="item-title">1, Mã nhân sự</label>
              <input type="text" [value]="acount['username']" disabled/>
              <!--formControlName="staffCode"-->
            </div>


            <div class="item-control" style="clear: none">
              <label class="item-title">2, Họ và tên <span class="star">*</span></label>
              <input name="fullName" type="text" formControlName="fullName" text-validator/>

              <div class="star" *ngIf="(!formCV.controls.fullName.errors.valid)">
                {{messageError.fullName}}
              </div>


            </div>

            <div class="item-control">
              <label class="item-title">3, Tên khác</label>
              <input formControlName="nameOther" type="text"/>
            </div>
          </div>

          <div class="item-control">
            <label class="item-title">4, Ngày sinh <span class="star">*</span></label>
            <input type="date" style="width: 30%;margin-right: 20px"
                   [value]="infoBasic.birthDay | date:'yyyy-MM-dd'" required
                   formControlName="birthDay" #birthDay text-validator/>

            <div class="star" *ngIf="(!formCV.controls.birthDay.errors.valid )">
              {{messageError.birthDay}}
            </div>

            <label class="item-title">5, Giới tính <span class="star">*</span></label>
            <select formControlName="sex" class="form-control" #sex type="select" text-validator>
              <option value="0"> ----Chọn----</option>
              <option value="1">Nam</option>
              <option value="2">Nữ</option>
              <option value="2">Khác</option>
            </select>

            <div class="star" *ngIf="!formCV.controls.sex.errors.valid">
              {{messageError.sex}}
            </div>

          </div>


          <div class="item-control">
            <label class="item-title">6,Email <span class="star">*</span></label>
            <input type="email" formControlName="email" style="width: 30%;margin-right: 20px" required
                   #email email-validator/>

            <div class="star" *ngIf="(!formCV.controls.email.errors.emailValid )
                && (formCV.controls.email.dirty || formCV.controls.email.touched)">
              {{messageError.mail}}
            </div>


            <label class="item-title">7,Điện thoại <span class="star">*</span></label>
            <input type="text" style="width: 200px" formControlName="phone" required #phone>

            <div class="star" *ngIf="(formCV.controls.phone.invalid || phone.value === '0' )
                && (formCV.controls.phone.dirty || formCV.controls.phone.touched)">
              {{messageError.phone}}
            </div>

          </div>

        </div>

        <div class="clearfix"></div>

      </div>
    </div>

    <div class="row place" formGroupName="placeBirth">
      <div class="col-xs-12 ">
        <span class="item-title">8, Nơi sinh <span class="star">*</span></span>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <label><span>Phường/xã   </span> </label>
          <select formControlName="guild" #guidBithDay class="form-control" 
		  required type="select" text-validator 
		  >
             <option *ngFor="let item of listGuidBirthDay" [value]="item['ID']">{{item['Title']}}</option>
          </select>

          <div class="star" *ngIf="(!formCV.controls.placeBirth.controls.guild.errors.valid)">
            {{messageError.guild}}
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <label>Quận/Huyện </label>
          <select formControlName="district" class="form-control" #districtBirthDay required type="select"
		  text-validator 
		   (change)="districtBirthDayChange(districtBirthDay.value,cityBirthDay.value)">
           <option *ngFor="let item of listDistrictBirthDay" [value]="item['ID']">{{item['Title']}}</option>
          </select>
        </div>

        <div class="star" *ngIf="(!formCV.controls.placeBirth.controls.district.errors.valid)">
          {{messageError.district}}
        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <label>Tình/TP </label>
          <select formControlName="city" class="form-control"  
		  required type="select" text-validator #cityBirthDay (change)="cityBirthDayChange(cityBirthDay.value)" >
            <option *ngFor="let item of listCity" [value]="item['ID']">{{item['Title']}}</option>
          </select>
        </div>

        <div class="star" *ngIf="!formCV.controls.placeBirth.controls.city.errors.valid">
          {{messageError.city}}
        </div>

      </div>
    </div>

    <div class="row place" formGroupName="homeTown">
      <div class="col-xs-12 ">
        <span class="item-title">9, Quê quán <span class="star">*</span></span>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <!--<span>Noi sinh</span>-->
          <label><span>Phường/xã   </span> </label>
          <select formControlName="guild" class="form-control" #homeTownGuid required type="select" text-validator>
            <option value="0">----Chọn-----</option>
            <option value="Gia lam">Gia lam</option>
          </select>

          <div class="star" *ngIf="!formCV.controls.homeTown.controls.guild.errors.valid">
            {{messageError.guild}}
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <label>Quận/Huyện </label>
          <select formControlName="district" class="form-control" #homeTownDistrict required type="select"
                  text-validator>
            <option value="0" selected>----Chọn-----</option>
            <option value="Gia lam">Gia lam</option>
          </select>

          <div class="star" *ngIf="(!formCV.controls.homeTown.controls.district.errors.valid)">
            {{messageError.district}}
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <label>Tình/TP </label>
          <select formControlName="city" class="form-control" #homeTownCity type="select" text-validator>
            <option value="0">----Chọn-----</option>
            <option value="Gia lam">Gia lam</option>
          </select>
        </div>

        <div class="star" *ngIf="(!formCV.controls.homeTown.controls.city.errors.valid)">
          {{messageError.city}}
        </div>

      </div>
    </div>
    <!--ton giao dan toc -->
    <div class="row ">

      <div class="col-xs-12 col-sm-4">
        <div class="item-control">
          <label class="item-title">10, Dân tộc </label>
          <select class="form-control" formControlName="nation" type="select" required text-validator>
            <option value="0">----chọn----</option>
             <option [value]="item.name" *ngFor="let item of listNation  | orderBy: 'name'">{{item.name}}</option>
          </select>


          <div class="star" *ngIf="!formCV.controls.nation.errors.valid">
            {{messageError.nation}}
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="item-control">
          <label class="item-title">11, Tôn giáo</label>
          <select class="form-control" formControlName="hashNation">
            <option value="false">Không</option>
            <option value="true">Có</option>
          </select>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <!--So chung minh thu-->
    <div class="row place" formGroupName="identity">
      <div class="col-xs-12">
        <label class="item-title" style="width: auto">12, Số chứng minh thư <span class="star">*</span> </label>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <label class="hidden-xs"></label>
          <input type="text" formControlName="identityNumber" required #identityNumber text-validator/>

          <div class="star" *ngIf="(!formCV.controls.identity.controls.identityNumber.errors.valid)">
            {{messageError.identityNumber}}
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <label>Ngày cấp </label>
          <input formControlName="dateRange" type="date"
                 [value]="infoBasic.identity.dateRange | date:'yyyy-MM-dd'" required #dateRange text-validator/>

          <div class="star" *ngIf="(!formCV.controls.identity.controls.dateRange.errors.valid )">
            {{messageError.dateRange}}
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="item-control pdt-i-0">
          <label>Nơi cấp </label>
          <input formControlName="placeRange" type="text" required #placeRange text-validator/>

          <div class="star" *ngIf="(!formCV.controls.identity.controls.placeRange.errors.valid )">
            {{messageError.indentityNumber}}
          </div>

        </div>
      </div>

    </div>

    <div class="row ">
      <div class="col-xs-12">
        <div class="item-control">
          <label class="mgr-20 item-title" style="width:auto;">13, Nơi đăng kí hộ khẩu thường chú <span
            class="star">*</span></label>
          <input style="width: 71%" type="text" formControlName="placeRegisterHouseHold" required text-validator/>
          <span style="display: block">(Số nhà đường thành phố /  Thôn xóm xã huyện tỉnh )</span>

          <div class="star" *ngIf="!formCV.controls.placeRegisterHouseHold.errors.valid">
            {{messageError.placeRegisterHouseHold}}
          </div>


        </div>
      </div>
    </div>

    <div class="row ">
      <div class="col-xs-12 col-sm-5">

        <div class="item-control">
          <label class="item-title" style="width: auto; margin-right: 10px;">14, Đối tượng chính sách <span
            class="star"></span> </label>
          <select class="policy-object form-control" style="width: 200px" formControlName="policyObject">
            <option value="0">----Chọn-----</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

      </div>

      <div class="col-xs-12 col-sm-5">
        <div class="item-control">
          <label class="item-title mgr-20" style="width: auto">15, Nhóm máu </label>
          <select formControlName="bloodGroup" class="form-control" required type="select" text-validator>
            <option value="">----Chọn-----</option>
            <option value="A">A</option>
            <option value="B">A</option>
            <option value="AB">AB</option>
            <option value="0">O</option>
          </select>


          <div class="star" *ngIf="!formCV.controls.bloodGroup.errors.valid">
            {{messageError.bloodGroup}}
          </div>

        </div>
      </div>
    </div>

    <div class="row address" formGroupName="placeNow">
      <div class="col-xs-12">
        <span class="item-title">16, Nơi ở hiện nay <span class="star">*</span></span>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="item-control">
          <label>Số nhà / Đội </label>
          <input type="text" formControlName="numberHome">
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="item-control">
          <label>Đường/Thôn </label>
          <input type="text" formControlName="street" required #street text-validator>

          <div class="star" *ngIf="(!formCV.controls.placeNow.controls.street.errors.valid ) ">
            {{messageError.street}}
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="item-control">
          <label> <span>Phường/xã   </span> </label>
          <select formControlName="guild" class="form-control" #placeNowG required type="select" text-validator>
            <option value="0">----Chọn-----</option>
            <option value="Gia Lam">Gia Lam</option>
          </select>
          <div class="star" *ngIf="(!formCV.controls.placeNow.controls.guild.errors.valid)">
            {{messageError.guild}}
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-2">
        <div class="item-control">
          <label>Quận/Huyện </label>
          <select formControlName="district" class="form-control" #placeNowD required type="select" text-validator>
            <option value="0">----Chọn-----</option>
            <option value="1">----Chọn 1-----</option>
          </select>
          <div class="star" *ngIf="(!formCV.controls.placeNow.controls.district.errors.valid)">
            {{messageError.district}}
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="item-control">
          <label>Tình/TP </label>
          <select formControlName="city" class="form-control" #placeNowC required type="select" text-validator>
            <option value="0">----Chọn-----</option>
            <option value="1">1</option>
          </select>
          <div class="star" *ngIf="(!formCV.controls.placeNow.controls.city.errors.valid)">
            {{messageError.city}}
          </div>

        </div>
      </div>

    </div>
  </form>
</div>
