<div class="form-item">
  <div class="form-item-title">
    Trình độ tin học
  </div>
  <form action="" [formGroup]="formData">
    <div class="action-form mgb-20">
      <button (click)="onSave()" *ngIf="editEnable">Ghi nhận</button>
      <!--<button>Khóa dữ liệu</button>-->
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>

    <div class="table-reponsive" id="info-tech-print">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Trình độ tin học</th>
          <th [style.textAlign]="!editEnable?'left':''">Năm cấp</th>
          <th class="hide-print" *ngIf="editEnable">
            <span class="action-icon" (click)="openModal(technologyModal)"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!--Content-->
        <tr *ngFor="let item of listData.toArray(); let i = index">
          <td>{{i+1}}</td>
          <td>{{item.level}}</td>
          <td [ngStyle]="!editEnable?notAccept:{}">{{item.yearLicense}}</td>
          <td class="hide-print" *ngIf="editEnable">
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <!--<span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>-->
            <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = i"><i class="fa fa-remove "></i></span>
            <!--<span class="action-icon" ><i class="fa fa-lock"></i></span>-->
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>

  </form>
</div>


<modal #technologyModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10 text-right">
      <button (click)="closeModal(technologyModal)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin trình độ tin học  </h3>
  <div *ngIf="message.condition && formNotValid" [ngClass]="'alert alert-'+ message.type">
    {{message.content}}
  </div>
  </modal-header>
  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="technology-info">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="item-control pdt-i-0">
            <label>Trình độ tin học</label>
            <input type="text" class="form-control" formControlName="level" #level>
            <div class="error" *ngIf="level.value.trim()  =='' && formTouch">
              Chưa nhập trình độ tin học
            </div>
          </div>
          <!---->

          <div class="item-control">
            <label class="mgr-20">Năm cấp</label>
            <input type="number" class="form-control" formControlName="yearLicense" #yearLicense>
            <div class="error" *ngIf="yearLicense.value.trim()  =='' && formTouch">
              Chưa nhập năm cấp
            </div>
          </div>

        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>


<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>
