<div class="form-item">
  <div class="form-item-title">
    Hoạt động xuất bản
  </div>
  <form>
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <div class="table-responsive" id="publish-info-print">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên sách</th>
          <th>Năm xuất bản</th>
          <th>Nhà xuất bản</th>
          <th>Vai trò</th>
          <th class="hide-print">
            <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!--content-->
        <tr *ngFor="let item of listPublish.toArray();let i = index">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.year}}</td>
          <td>{{item.publishCompany}}</td>
          <td>{{item.role}}</td>
          <td class="hide-print">
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </form>

</div>

<modal #publish size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(publish)">Thoát</button>
    </div>
    <div *ngIf="message.condition && formNotValid " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="publish-info-form">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="item-control pdt-i-0">
            <label>Tên sách </label>
            <input type="text" formControlName="name" required #name>
            <div class="error" *ngIf="name.value.trim()  =='' && formTouch">
              Chưa nhập tên sách
            </div>
          </div>
          <!---->

          <div class="item-control">
            <label class="mgr-20">Năm xuất bản</label>
            <input type="number" formControlName="year" style="width: 80px" required #year>
            <div class="error" *ngIf="year.value.trim()  =='' && formTouch">
              Chưa nhập năm xuất bản
            </div>
          </div>

          <div class="item-control  ">
            <label>Nhà xuất bản</label>
            <input type="text" formControlName="publishCompany" required #publishCompany>
            <div class="error" *ngIf="publishCompany.value.trim()  =='' && formTouch">
              Chưa nhập nhà xuất bản
            </div>
          </div>
          <div class="item-control  ">
            <label>Vai trò </label>
            <input type="text" formControlName="role" required #role>
            <div class="error" *ngIf="role.value.trim()  =='' && formTouch">
              Chưa nhập vai trò
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>
