<form [formGroup]="formData">
  <div class="action-form">
    <button>Ghi nhận</button>
    <button>Khóa dữ liệu</button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-note-form></app-note-form>
    </div>
    <!---->
    <div class="col-xs-12">
      <div class="form-item">
        <div class="form-item-title">
         Hoạt động xuất bản
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tên sách</th>
              <th>Năm xuất bản</th>
              <th>Nhà xuất bản</th>
              <th>Vai trò</th>
              <th>
                <span class="action-icon" (click)="addItem()"><i class="fa fa-plus"></i></span>
                <span class="action-icon" (click)="resetForm(formData)"><i
                  class="fa fa-remove icon-remove-update"></i></span>
              </th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td></td>
              <td><input type="text" formControlName="name"></td>
              <td><input type="text" formControlName="year"></td>
              <td><input type="text" formControlName="publishCompany"></td>
              <td><select class="form-control" formControlName="role">
                <option value="">---Chọn---</option>
              </select></td>
              <td>
                <span class="action-icon" (click)="addItem()"><i class="fa fa-save"></i></span>
                <span class="action-icon" (click)="resetForm(formData)"><i
                  class="fa fa-remove icon-remove-update"></i></span>
              </td>
            </tr>
            <!--content-->
            <tr *ngFor="let item of listPublish.toArray();let i = index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.year}}</td>
              <td>{{item.publishCompany}}</td>
              <td>{{item.role}}</td>
              <td>
                <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
                <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
                <span class="action-icon"><i class="fa fa-lock"></i></span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
