li.menu-wrapper>a:first-child:focus {
  background: #eeeeee !important;
  display: block;
}
li.menu-wrapper>a:first-child{
  padding-left: 10px  !important;
}

.bgc-red {
  background-color: red !important;
}
