.faculty{
  position: relative;
  z-index: 30;
}
li.menu-wrapper > a:first-child:focus {
  display: block;
}

li.menu-wrapper > a:first-child {
  padding-left: 10px !important;
}

.bgc-red {
  background-color: red !important;
}

 a[aria-expanded=true] {
  background: #eeeeee !important;
}
