<div id="person">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <div class="under-core capitalize fs-28 pdt-80">
          Tran van linh
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <img class="avatar img-responsive pdb-15" src="../../../assets/images/person/agrawala-macarthur3-head-square.jpg" alt="">

        <a class="color-red-9" href="#" >Stanford University<br>
          Computer Science Department<br>
          Brown Institute for Media Innovation<br>
          Graphics | HCI | Visualization</a>

        <div class="contact">
          <div class="under-core capitalize fs-18 pdt-20 ">
            Contact Information
          </div>
          <address>
            Gates Computer Science, Room 364
            Stanford, CA 94305-1248
            Tel: (650) 723-2642
            Office Hours: M 3:30-4:30p
          </address>
        </div>

        <div class="social">
          <a href="mailto:linhtran18095@gmail.com"><img src="../../../assets/images/person/email_circle_black.svg" alt=""></a>
          <a href="#"><img src="../../../assets/images/person/twitter_circle_blue.svg" alt=""></a>
          <a href="#"><img src="../../../assets/images/person/github_circle_black.svg" alt=""></a>
        </div>

        <div class="teacher">
          <div class="under-core capitalize fs-15 pdt-20 ">
            Teaching
          </div>
          <p class="fs-13">
            Fall 2016 CS <a  href="#" >: Visualization</a><br>
            Win 2017 CS 206 <a   href="#">: Comp. Journalism</a><br>
            Spr 2017 CS 247  <a   href="#">: HCI Design Studio</a>
          </p>
        </div>

        <div class="travel">
          <div class="under-core capitalize fs-15 pdt-20 ">
            Travel
          </div>
          <p class="fs-13">
            Jun 5-10	2017	EPFL, Lausanne CH<br>
            Jul 30-Aug 4	2017	SIGGRAPH, Los Angeles CA<br>
            Sep 28-29	2017	Brown Inst., New York NY
          </p>
        </div>


        <div class="student-visitor">
          <div class="under-core capitalize fs-15 pdt-20 ">
            Students, Postdocs & Visitors
          </div>
          <p class="fs-13">
            <a class="color-red-9" href="#">Lydia Chilton </a>,
            Will Crichton,
            <a class="color-red-9" href="#">  Ross Daly, Abe Davis</a>,
            Mitchell Gordon,
            Alex Hall,
            <a class="color-red-9" href="#"> Dae Hyun Kim</a>,
            Mackenzie Leake,
            Janel Lee, Sean Liu,
            <a class="color-red-9" href="#">Amy Pavel, Evan Strasnick</a>,
            JiaXian Yao
          </p>
        </div>

        <div class="alumni">
          <div class="under-core capitalize fs-15 pdt-20 ">
            Alumni
          </div>
          <p class="fs-13">
            <a class="color-red-9" href="#">Lydia Chilton </a>,
            Will Crichton,
            <a class="color-red-9" href="#">  Ross Daly</a>,
            Mitchell Gordon,
            Alex Hall,
            <a class="color-red-9" href="#"> Dae Hyun Kim</a>,
            Mackenzie Leake,
            Janel Lee, Sean Liu,
            <a class="color-red-9" href="#">Amy Pavel</a>,Evan Strasnic
            JiaXian Yao
          </p>
        </div>

        <div class="alumni">
          <div class="under-core capitalize fs-15 pdt-20 ">
            In Memoriam
          </div>
          <a class="color-red-9 fs-13" href="#">Lydia Chilton </a>
        </div>
      </div>


      <!--right-->
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <p class="fs-15">
          Maneesh Agrawala is the <a class="color-red-9" href="#">Forest Baskett Professor of Computer Science and Director</a> of the Brown Institute for Media Innovation at Stanford University.
          He works on computer graphics, <a class="color-red-9" href="">human computer interaction and visualization</a>.
          His focus is on investigating how cognitive design principles can be used to improve the effectiveness of audio/visual media.
          The goals of this work are to discover the design principles and then instantiate them in both interactive and automated design tools. He received an Okawa Foundation Research Grant (2006), an Alfred P. Sloan Foundation Fellowship (2007), an NSF CAREER Award (2007), a SIGGRAPH Significant New Researcher Award (2008), a MacArthur Foundation Fellowship (2009), and an Allen Distinguished Investigator Award (2014).
        </p>
        <div class="person-new">
          <div class="under-core capitalize fs-20 pdt-20 ">
            News
          </div>
          <ul class="">
            <li><span>Jun 21, 2016 </span>  <p><a class="color-red-9" href="#">Released Atlas of Me</a>. Understand distances and areas via personalized maps.</p></li>
            <li><span>Jul 1, 2015</span>  Moved to Stanford!</li>
            <li><span>   Jan 28, 2015</span>  <p> <a class="color-red-9"> Released speecheditor </a> tool and source code. Edit audio stories using cut/copy/paste on text transcripts. </p></li>
            <li> <span> Nov 11, 2014 </span> <p> Released D3 Deconstructor and source code. Extract data from D3 visualizations.</p></li>
            <li><span> Oct 5, 2012 </span>  <p> Released 3D Puppetry system and source code. Make 3D animations using toys and a Kinect.</p></li>
            <li><span> Oct 2, 2012 </span>  <p> Released source code for our Proton Multitouch Framework. Declaratively specify multitouch gesture as regular expressions.</p></li>

          </ul>
        </div>

        <div class="person-publish">
          <div class="under-core capitalize fs-20 pdt-20 ">
            Publications
          </div>
          <ul class="">

            <li>
              <div class="_rol-img pdr-15">
                <img src="../../../assets/images/person/joints.jpg" class="img-responsive">
              </div>
              <div class="_rol-text">
                <a href="#">Computational Video Editing for Dialogue-Driven Scenes</a>
                Mackenzie Leake, <a href="#"> Abe Davis, Anh Truong and Maneesh Agrawala</a>
                ACM Transactions on Graphics, 36(4), July 2017, pp. 130:1-130:14.
                <a href="#">PDF (3MB) | PDF (433MB) | MP4 | YouTube | Supplemental Material</a>
              </div>
              <div class="clearfix" > </div>
            </li>
            <li>
              <div class="_rol-img pdr-15">
                <img src="../../../assets/images/person/joints.jpg" class="img-responsive">
              </div>
              <div class="_rol-text">
                <a href="#">Computational Video Editing for Dialogue-Driven Scenes</a>
                Mackenzie Leake, <a href="#"> Abe Davis, Anh Truong and Maneesh Agrawala</a>
                ACM Transactions on Graphics, 36(4), July 2017, pp. 130:1-130:14.
                <a href="#">PDF (3MB) | PDF (433MB) | MP4 | YouTube | Supplemental Material</a>
              </div>
              <div class="clearfix" > </div>
            </li>

          </ul>
        </div>

      </div>
      <!--end-right-->


    </div>
  </div>
</div>
