<form action="" [formGroup]="formData">
  <div class="action-form">
    <button (click)="onSave()">Ghi nhận</button>
    <button (click)="blockData()">Khóa dữ liệu</button>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <!---->
      <div class="form-item" formGroupName="actionParty">
        <div class="form-item-title">
          Quá trình hoạt động đảng
        </div>
        <!---->
        <div class="item-control">
          <label class="mgr-15"> Qúy vị là Đảng viên hãy đánh dấu vào đây </label>
          <input type="checkbox" formControlName="isParty">
        </div>
        <!---->
        <div class="item-control">
          <label>Ngày vào Đảng </label>
          <input type="text" formControlName="dateInParty">
        </div>
        <!---->
        <div class="item-control">
          <label>Ngày vào chính thức vào Đảng </label>
          <input type="text" placeholder="Ngày/Tháng/Năm " formControlName="dateInPartyfOficial">
        </div>
        <!---->
        <div class="item-control">
          <label>Nơi kết nạp </label>
          <input type="text" formControlName="placeInParty">
        </div>
        <!---->
        <div class="item-control">
          <label class="mgr-15">Các thông tin dưới đây sẽ được cập nhật trong: </label>
          <a href="javascript:void(0)" style="text-decoration: underline" (click)="openModal(modalActionParty)">Qúa
            trình hoạt động đảng </a>
        </div>
        <!---->
        <div class="item-control">
          <label>Chức vụ Đảng hiện tại </label>
          <input type="text" formControlName="positonNow">
        </div>
        <!---->
        <div class="item-control">
          <label>Nơi sinh hoạt Đảng hiện tại </label>
          <input type="text" formControlName="placePerformanceParty">
        </div>
        <!---->
      </div>

      <!--quá trình hoạt động Đoàn thể  -->
      <div class="form-item" formGroupName="actionUnion">
        <div class="form-item-title">
          Quá trình hoạt động Đoàn thể
        </div>
        <!---->
        <div class="item-control">
          <label>Ngày vào Đoàn </label>
          <input type="text" placeholder="Ngày/Tháng/Năm" formControlName="dateInUnion">
        </div>
        <!---->
        <div class="item-control">
          <label>Nơi kết nạp </label>
          <input type="text" formControlName="placeInUnion">
        </div>
        <!---->
        <div class="item-control">
          <label class="mgr-15">Các thông tin dưới đây sẽ được cập nhật trong: </label>
          <a href="javascript:void(0)" style="text-decoration: underline" (click)="openModal(modalUnion)">Qúa trình hoạt
            động Đoàn </a>
        </div>
        <!---->
        <div class="item-control">
          <label>Chức vụ cao nhất </label>
          <input type="text" formControlName="postionTallest">
        </div>
        <!---->
      </div>

      <!---->
    </div>

    <div class="col-xs-12 col-sm-6">
      <!--Quá trình hoạt động Quân ngũ-->
      <div class="form-item" formGroupName="actionArmy">
        <div class="form-item-title">
          Quá trình hoạt động Quân ngũ
        </div>
        <!---->
        <div class="item-control">
          <label class="mgr-15"> Đã tham gia quân đội </label>
          <input type="checkbox" formControlName="isArmy" value="1">
        </div>
        <!---->
        <div class="item-control">
          <label>Ngày nhập ngũ/Xuất ngũ </label>
          <div class="text-right">
            <input type="text" placeholder="Ngày nhập ngũ "
                   class="mgb-10" style="float: none" formControlName="dateInArmy">
            <input type="text" placeholder="Ngày xuất ngũ "
                   style="float: none" formControlName="dateOutArmy">
          </div>
        </div>
        <!---->
        <div class="item-control">
          <label>Quân hàm cao nhất </label>
          <select formControlName="rankTallest" class="form-control">
            <option>--------- Lựa chọn --------</option>
          </select>
        </div>
        <!---->
        <div class="item-control">
          <label>Chức cụ cao nhất trong Hội CCB </label>
          <select formControlName="postionTallestHCCB" class="form-control">
            <option>--------- Lựa chọn --------</option>
          </select>
        </div>
        <!---->
        <div class="item-control">
          <label class="mgr-15"> Là thương binh </label>
          <input type="checkbox" formControlName="isVeterans" value="1">
        </div>
        <!---->
        <div class="item-control">
          <label>Hạng thương binh </label>
          <select formControlName="rankVeterans" class="form-control">
            <option>--------- Lựa chọn --------</option>
          </select>
        </div>
        <!---->
        <div class="item-control">
          <label class="mgr-15"> Sổ thương tật </label>
          <input type="text" formControlName="bookInjured">
        </div>
        <!---->
        <div class="item-control">
          <label class="mgr-15"> Hình thức thương tật </label>
          <input type="text" formControlName="formInjured">
        </div>
        <!---->
      </div>

      <!---qua trinh hoat dong cong doan-->
      <div class="form-item" formGroupName="actionCD">
        <div class="form-item-title">
          Quá trình hoạt động Công Đoàn
        </div>
        <!---->
        <div class="item-control">
          <label>Ngày vào Công Đoàn </label>
          <input type="text" formControlName="dateInCD">
        </div>
        <!---->
        <div class="item-control">
          <label class="mgr-15">Các thông tin dưới đây sẽ được cập nhật trong: </label>
          <a href="javascript:void(0)" style="text-decoration: underline">Qúa trình hoạt động Công Đoàn </a>
        </div>
        <!---->
        <div class="item-control">
          <label>Chức vụ Công Đoàn cao nhất </label>
          <input type="text" formControlName="positionTallest">
        </div>
        <!---->
      </div>
      <!-------------------------------------->
    </div>
  </div>
</form>


<!--modal qua trinh hoat dong dang-->
<modal #modalActionParty size='lg' cssClass="my-modal-lg" backdrop="false">
  <modal-body>
    <div class="action-form">
      <button (click)="closeModal(modalActionParty)" class="mgb-20">Thoát</button>
      <div class="form-item">
        <div class="form-item-title">
          Chú ý
        </div>
        <div>
          <p> Nếu chức vụ Đảng mà quý vị đã giữ không có trong ô chọn. Quý vị vui lòng chọn
            <b>"---Chức vụ khác---"</b> và nhập chức vụ đó vào ô : <b>Chức vụ khác </b>
          </p>
          <p>Ô nhập ngày tháng, nếu Qúy vị không nhớ rõ thì nhập ngày là 01,tháng năm bắt buộc phải nhập chính sác.
            Khi chiết xuất dữ liệu chỉ sử dụng tháng năm
          </p>
        </div>
      </div>
    </div>

    <form [formGroup]="formDetailParty">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Từ ngày</th>
          <th>Nơi sinh hoạt</th>
          <th>Chức vụ đảng</th>
          <th>Chức vụ đảng khác</th>
          <th>Hiện tại</th>
          <th>
            <span class="pdr-10 action-icon"><i class="fa fa-plus"></i></span>
            <span class="action-icon icon-remove-update"> <i class="fa fa-remove "></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>
            <input type="text" class="form-control" formControlName="dateFrom">
          </td>
          <td>
            <input type="text" class="form-control" formControlName="placePerformance">
          </td>
          <td>
            <select name="" id="" class="form-control" formControlName="position">
              <option value="">----Chọn----</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" formControlName="positionOther">
          </td>
          <td>
            <input type="checkbox" formControlName="now">
          </td>
          <td>
            <span class="action-icon  pdb-20" (click)="addItem('party')"><i class="fa fa-save"></i></span>
            <span class="action-icon  " (click)="resetForm(formDetailParty)"><i class="fa fa-remove "></i></span>
            <!--<span class="action pdb-10"><i class="fa fa-lock"></i></span>-->
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>23/1/2014</td>
          <td>Dong lai tan lac hoa binh</td>
          <td>Pho bi thu chi bo</td>
          <td>

          </td>
          <td>
            <span class="action pdb-10"><i class="fa fa-check "></i></span>
          </td>
          <td>
            <span class="action-icon"><i class="fa fa-edit"></i></span>
            <span class="action-icon"><i class="fa fa-remove"></i></span>
            <span class="action-icon"><i class="fa fa-lock "></i></span>
          </td>
        </tr>

        <tr *ngFor="let item of listActionParty.toArray();let inx = index">
          <td>{{inx+1}}</td>
          <td>{{item.dateFrom}}</td>
          <td>{{item.placePerformance}}</td>
          <td>{{item.position}}</td>
          <td>{{item.positionOther}}</td>
          <td><span class="action-icon pdb-10" *ngIf="item.now"><i class="fa fa-check "></i></span></td>
          <td>
            <span class="action-icon" (click)="editItem('party',i)"><i class="fa fa-edit" ></i></span>
            <span class="action-icon" (click)="removeItem(listActionParty,inx)"><i class="fa fa-remove"></i></span>
            <span class="action-icon"><i class="fa fa-lock "></i></span>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </modal-body>
</modal>

<!--modal qua trinh hoat dong Doan-->
<modal #modalUnion size='lg' cssClass="my-modal-lg" backdrop="false">
  <modal-body>
    <div class="action-form">
      <button (click)="closeModal(modalUnion)" class="mgb-20">Thoát</button>
      <div class="form-item">
        <div class="form-item-title">
          Chú ý
        </div>
        <div>
          <p> Nếu chức vụ Đoàn mà quý vị đã giữ không có trong ô chọn. Quý vị vui lòng chọn
            <b>"---Chức vụ khác---"</b> và nhập chức vụ đó vào ô : <b>Chức vụ khác </b>
          </p>
          <p>Ô nhập ngày tháng, nếu Qúy vị không nhớ rõ thì nhập ngày là 01,tháng năm bắt buộc phải nhập chính sác.
            Khi chiết xuất dữ liệu chỉ sử dụng tháng năm
          </p>
        </div>
      </div>
    </div>

    <form action="" [formGroup]="formDetailUnion">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Từ ngày</th>
          <th>Nơi sinh hoạt</th>
          <th>Chức vụ Đoàn</th>
          <th>Chức vụ cao nhất</th>
          <th>
            <span class="pdr-10 action-icon"><i class="fa fa-plus"></i></span>
            <span class="action-icon"> <i class="fa fa-remove icon-remove-update"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>
            <input type="text" class="form-control" formControlName="dateFrom">
          </td>
          <td>
            <input type="text" class="form-control" formControlName="placePerformance">
          </td>
          <td>
            <select class="form-control" formControlName="position">
              <option value="">----Chọn----</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" formControlName="postionTallest">
          </td>
          <td>
            <span class="action-icon  " (click)="addItem('union')"><i class="fa fa-save"></i></span>
            <span class="action-icon  " (click)="resetForm(formDetailUnion)"><i class="fa fa-remove "></i></span>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>23/1/2014</td>
          <td>Dong lai tan lac hoa binh</td>
          <td>Pho bi thu chi bo</td>
          <td>

          </td>
          <td>
            <span class="action-icon  "><i class="fa fa-edit"></i></span>
            <span class="action-icon  "><i class="fa fa-remove"></i></span>
            <span class="action-icon  "><i class="fa fa-lock "></i></span>
          </td>
        </tr>

        <tr *ngFor="let item of listActionUnion.toArray();let inx = index">
          <td>{{inx+1}}</td>
          <td>{{item.dateFrom}}</td>
          <td>{{item.placePerformance}}</td>
          <td>{{item.position}}</td>
          <td>{{item.postionTallest}}</td>
          <td>
            <span class="action-icon  " (click)="editItem('union',inx)"><i class="fa fa-edit"></i></span>
            <span class="action-icon  "  (click)="removeItem(listActionUnion,inx)"><i class="fa fa-remove"></i></span>
            <span class="action-icon  "><i class="fa fa-lock "></i></span>
          </td>
        </tr>


        </tbody>
      </table>
    </form>
  </modal-body>
</modal>
