body {
  font-family: "Roboto Slab", sans-serif;
}

.nav-tabs > li > a {
  border-radius: 0;
}

.my-modal-lg {
  width: 1170px !important;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {

  .my-modal-lg {
    width: 1000px !important;
  }

}

@media (max-width: 991px) {

  .my-modal-lg {
    width: 800px !important;
  }

  .my-modal-login {
    width: 600px !important;
  }

}

@media (max-width: 767px) {
  .my-modal-lg {
    width: 650px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .my-modal-login {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 639px) {
  .my-modal-lg {
    width: 450px !important;
  }
}

/*dung trong file app-menu*/
.height-i-auto {
  height: auto !important;
}

/*custom model*/
.modal {
  /*position: absolute !important;*/
  z-index: 9999999999;
}

