tbody tr:hover {
  background-color: #eae7df;
  cursor: pointer;
}

tbody tr:last-child:hover {
  background-color: transparent;
  cursor: default;
}

h3 {
  font-size: 18px;
  margin-bottom:5px;
}

.msg {
  position: fixed;
  z-index: 88;
  width: 50%;
  right: 25%;
}

input{
  margin-left:auto;
  margin-bottom:15px;
  margin-top:15px;
}

.search {
  display: inline-block;
  margin-left: auto;
  width: 300px !important;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 5px !important;
}
