<app-search-form title="Làm thủ tục tăng lương " (onChoise)="onChoiseHandler($event)"></app-search-form>


<modal #modalSalary size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <!--<div class="action-form mgb-i-10">-->
      <!--<button (click)="closeModal(modalSalary)">Thoát</button>-->
    <!--</div>-->


    <div class="col-xs-12 col-sm-6 ">
      <div class="action-form mgb-i-10 text-left" >
        <button class="btn-action" (click)="onSave()">{{positionUpdate == null?'Ghi nhận ':'Cập nhật'}}</button>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 ">
      <div class="action-form mgb-i-10 text-right" >
        <button (click)="closeModal(modalSalary)">Thoát</button>
      </div>
    </div>

   <div class="col-xs-12">
     <h3 class="text-center">Làm thủ tục tăng lương</h3>
   </div>

  </modal-header>

  <modal-body>
    <div *ngIf="message.condition " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="salary-brief">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="item-control">
            <label>Họ tên: </label>
            <input type="text" class="form-control" [value]="user ? user.fullname:''" disabled required>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="item-control">
            <label>Mã cán bộ: </label>
            <input type="text" class="form-control" [value]="user ? user.username:''" disabled required>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">

          <div class="item-control">
            <label>Loại ngạch </label>
            <select name="specie" class="form-control" [(ngModel)]="specie" formControlName="specie"
                    (change)="spieceChange()" required>
              <option *ngFor="let item of spieceRanks" [value]="item">{{item}}</option>
            </select>
            <div class="error" *ngIf="!specie && formTouch  || specie && specie.trim()  =='' && formTouch">
              Chưa chọn loại ngạch
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Nhóm ngạch </label>
            <select class="form-control" formControlName="group" [(ngModel)]="group"
                    (change)="groupChange()" required>
              <option *ngFor="let item of listGroup" [value]="item.group.name">{{item.group.name}}</option>
            </select>
            <div class="error" *ngIf="!group && formTouch||group && group.trim()  =='' && formTouch">
              Chưa chọn nhóm ngạch
            </div>
          </div>

          <div class="item-control">
            <label>Ngày quyết định </label>
            <input type="date" class="form-control" formControlName="dateFrom" #dateFrom required>
            <div class="error" *ngIf="dateFrom.value.trim()  =='' && formTouch">
              Chưa nhập ngày quyết định
            </div>
          </div>
          <!---->


        </div>

        <!---->
        <div class="col-xs-12 col-sm-6">
          <div class="item-control">
            <label>Ngạch </label>
            <select class="form-control" [(ngModel)]="rank" formControlName="rank"
                    (change)="rankChange()" required>
              <option *ngFor="let item of listRank" [value]="item">{{item}}</option>
            </select>
            <div class="error" *ngIf="!rank && formTouch|| rank && rank.trim()  =='' && formTouch">
              Chưa chọn ngạch
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Bậc </label>
            <select class="form-control" [(ngModel)]="levelChoise" formControlName="level"
                    (change)="levelChange()" required>
              <option *ngFor="let item of level" [value]="item.name">{{item.name}}</option>
            </select>
            <div class="error" *ngIf="!levelChoise && formTouch||levelChoise && levelChoise.trim()  =='' && formTouch">
              Chưa chọn bậc
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label> Số quyết định </label>
            <input type="text" class="form-control" formControlName="numberDecide" required #numberDecide>
            <div class="error" *ngIf="numberDecide.value.trim()  =='' && formTouch">
              Chưa nhập số quyết định
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="item-control">
            <label> Nội dung quyết định </label>
            <textarea class="form-control" rows="5" #contentDecide formControlName="contentDecide" required></textarea>
            <div class="error" *ngIf="contentDecide.value.trim()  == '' && formTouch">
              Chưa nhập nội dung quyết định
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>

    <div class="table-responsive">
      <table class="table table-bordered" [mfData]="listSalaryBrief.toArray()" #mf="mfDataTable">
        <thead>
        <tr>
          <th>STT</th>
          <th>
            <mfDefaultSorter by="dateFrom">Từ ngày</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="dateEnd">Đến ngày</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="specie">Loại Ngạch</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="group">Nhóm Ngạch</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="rank">Ngạch</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="level">Bậc</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="factorSalary">HSL</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="numberDecide">Số QD</mfDefaultSorter>
          </th>
          <!-- <th>Hiên tại</th> -->
          <th>
            <!--<span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>-->
          </th>
        </tr>
        </thead>
        <tbody>
        <!---->
        <tr *ngFor="let item of mf.data;let i = index ">
          <td>{{i+1}}</td>
          <td>{{item.dateFrom | date:'dd/MM/yyyy'}}</td>
          <td>{{item.dateEnd | date:'dd/MM/yyyy'}}</td>
          <td>{{item.specie}}</td>
          <td>{{item.group}}</td>
          <td>{{item.rank}}</td>
          <td>{{item.level}}</td>
          <td>{{item.factorSalary}}</td>
          <td class="upper-case">{{item.numberDecide}}</td>
          <!-- <td>
            <input type="radio" style="width: auto" formControlName="now" [value]="i">
          </td> -->
          <td>
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(item)"><i class="fa fa-remove"></i></span>
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>
  </modal-footer>

</modal>
