<div class="form-item">
  <div class="form-item-title">Thông tin học hàm, danh hiệu nhà giáo</div>
  <form action="">
    <div class="form-item">
      <div class="form-item-title">
        Thông tin học hàm
      </div>
      <div class="action-form" style="margin-bottom: 0 !important;">
        <button (click)="onSave(0)">Ghi nhận</button>
        <div *ngIf="message.condition && mode == 0" [ngClass]="'alert alert-'+ message.type">
          {{message.content}}
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>STT</th>
            <th>Học hàm</th>
            <th>Nơi công nhận</th>
            <th>Năm phong</th>
            <th>
              <span class="action-icon" (click)="openModalByType(academicRank,0)"><i class="fa fa-plus"></i></span>
            </th>
          </tr>
          </thead>
          <tbody>
          <!---->
          <tr *ngFor="let item of listRankAd.toArray();let i = index ">
            <td>{{i+1}}</td>
            <td>{{item.rank}}</td>
            <td>{{item.placeReceive}}</td>
            <td>{{item.yearReceive}}</td>
            <td>
              <span class="action-icon" (click)="editItem(item,0)"><i class="fa fa-edit"></i></span>
              <span class="action-icon" (click)="removeItem(i,0)"><i class="fa fa-remove "></i></span>
              <!--<span class="action-icon"><i class="fa fa-lock"></i></span>-->
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!---->
    <div class="form-item">
      <div class="form-item-title">
        Danh hiệu nhà giáo
      </div>
      <div class="action-form" style="margin-bottom: 0 !important;">
        <button (click)="onSave(1)">Ghi nhận</button>
        <div *ngIf="message.condition && mode == 1" [ngClass]="'alert alert-'+ message.type">
          {{message.content}}
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>STT</th>
            <th>Danh hiệu nhà giáo</th>
            <th>Năm phong</th>
            <th>
              <span class="action-icon" (click)="openModalByType(titleTeachers,1)"><i class="fa fa-plus"></i></span>
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let item of listTitleTeachers.toArray();let i = index ">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td>{{item.yearReceive}}</td>
            <td>
              <span class="action-icon" (click)="editItem(item,1)"><i class="fa fa-edit"></i></span>
              <span class="action-icon" (click)="removeItem(i,1)"><i class="fa fa-remove "></i></span>
              <!--<span class="action-icon"><i class="fa fa-lock"></i></span>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!---->
  </form>
</div>


<modal #academicRank size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(academicRank)">Thoát</button>

    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formAcademicRank">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="item-control pdt-i-0">
            <label>Học hàm</label>
            <select class="form-control" formControlName="rank">
              <option *ngFor="let item of catalogAcademicRank" [value]="item.name">{{item.name}}</option>
            </select>
          </div>
          <!---->

          <div class="item-control">
            <label>Nơi công nhận</label>
            <input type="text" formControlName="placeReceive">
          </div>

          <div class="item-control  ">
            <label class="mgr-20">Năm phong</label>
            <input type="number" formControlName="yearReceive">
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addAcademic()">{{positionUpdateAca == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>


<modal #titleTeachers size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(titleTeachers)">Thoát</button>

    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formTitleTeachers">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="item-control pdt-i-0">
            <label>Danh hiệu nhà giáo </label>
            <select class="form-control" formControlName="title">
              <option value="Nhà giáo nhân dân">Nhà giáo nhân dân</option>
              <option value="Nhà giáo ưu tú">Nhà giáo ưu tú</option>
            </select>
          </div>
          <!---->
          <div class="item-control ">
            <label class="mgr-20">Năm phong</label>
            <input type="number" formControlName="yearReceive">
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addTeacher()">{{positionUpdateTeacher == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>
