<form [formGroup]="formData" style="padding-top: 25px">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="form-item">
        <div class="form-item-title">
          Chọn ngoại ngữ
        </div>
        <div class="item-control">
          <label >Tên ngoại ngữ </label>
          <select  class="form-control" formGroupName="name">
            <option value="">-----Chọn----</option>
          </select>
        </div>
        <div class="item-control">
          <label >Nghe </label>
          <select  class="form-control" formGroupName="listen">
            <option value="">-----Chọn----</option>
          </select>
        </div>
        <div class="item-control" >
          <label >Nói </label>
          <select  class="form-control" formGroupName="speak" >
            <option value="">-----Chọn----</option>
          </select>
        </div>
        <div class="item-control">
          <label >Đọc  </label>
          <select  class="form-control" formGroupName="read">
            <option value="">-----Chọn----</option>
          </select>
        </div>
        <div class="item-control">
          <label >Viết </label>
          <select  class="form-control" formGroupName="write">
            <option value="">-----Chọn----</option>
          </select>
        </div>
        <div class="item-control">
          <label >Dịch</label>
          <select  class="form-control" formGroupName="translate">
            <option value="">-----Chọn----</option>
          </select>
        </div>
        <div class="item-control">
          <label>Giao tiếp </label>
          <select  class="form-control" formGroupName="communicate">
            <option value="">-----Chọn----</option>
          </select>
        </div>
        <div></div>
        <div class="action-form " style="margin-bottom: 0;margin-top: 30px;text-align: right">
            <button (click)="onSave()">Ghi nhận </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8">
      <div class="form-item">
        <div class="form-item-title">
          Trình độ ngoại ngữ
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tên ngoại ngữ</th>
              <th>Kỹ năng </th>
              <th>Chuyên nghành/chủ đề có thể giảng dạy</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>{{item.name}}</td>
              <td style="text-align: left">
                <p>Nghe: {{item.listen}}</p>
                <p>Nói: {{item.speak}}</p>
                <p>Đọc: {{item.read}}</p>
                <p>Viết: {{item.write}}</p>
                <p>Dịch: {{item.translate}}</p>
                <p>Giao tiếp: {{item.communicate}}</p>
              </td>
              <td>
                <input type="text" class="form-control" style="display: inline-block" placeholder="Tên chuyên nghành ">
                <span class="action-icon"><i class="fa fa-save"></i></span>
              </td>
              <td>
                <span class="action-icon"><i class="fa fa-remove"></i></span>
                <span class="action-icon"><i class="fa fa-lock"></i></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
