<div class=" form-item">
  <div class="form-item-title">
    Trình độ ngoại ngữ
  </div>
  <form>
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>

    <div class="table-responsive" id="foreign-language-print">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên ngoại ngữ</th>
          <th>Kỹ năng</th>
          <th>Chuyên nghành/chủ đề có thể giảng dạy</th>
          <th class="hide-print"><span class="action-icon" (click)="openModalNew(languageModal)"><i class="fa fa-plus"></i></span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of list.toArray(); let i = index">
          <td>{{i+1}}</td>
          <td>{{nationalService.getNationalByCode(nationals,item.name).name}}</td>
          <td style="text-align: left">
            <span class=" mgr-20">Nghe: {{foreignService.getLevelTitle(item.listen)}}</span><br>
            <span class="mgr-20">Nói: {{foreignService.getLevelTitle(item.speak)}}</span><br>
            <span class="mgr-20">Đọc: {{foreignService.getLevelTitle(item.read)}}</span><br>
            <span class="mgr-20">Viết: {{foreignService.getLevelTitle(item.write)}}</span><br>
            <span class="">Dịch: {{foreignService.getLevelTitle(item.translate)}}</span><br>
            <span class="">Giao tiếp: {{foreignService.getLevelTitle(item.communicate)}}</span>
          </td>
          <td>{{item.branch}}</td>
          <td class="hide-print">
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(item)"><i class="fa fa-remove"></i></span>
            <!--<span class="action-icon"><i class="fa fa-lock"></i></span>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div >
  </form>
</div>


<modal #languageModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(languageModal)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin trình độ ngoại ngữ </h3>
    <div *ngIf="message.condition && formNotValid" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="language-info">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">

          <div class="item-control">
            <label>Tên ngoại ngữ </label>
            <select class="form-control" formControlName="name" style="width: 200px" #name required>
              <option [value]="item.code" *ngFor="let item of nationals">{{item.name}}</option>
            </select>
            <div class="error" *ngIf="name.value.trim()  =='' && formTouch">
              Chưa chọn tên ngoại ngữ
            </div>
          </div>

          <div class="item-control">
            <label>Nghe </label>
            <select class="form-control" formControlName="listen" required #listen>
              <option *ngFor="let item of levels" [value]="item">{{foreignService.getLevelTitle(item)}}</option>
            </select>
            <div class="error" *ngIf="listen.value.trim()  =='' && formTouch">
              Chưa chọn khả năng nghe
            </div>
          </div>

          <div class="item-control">
            <label>Nói </label>
            <select class="form-control" formControlName="speak" required #speak>
              <option *ngFor="let item of levels" [value]="item">{{foreignService.getLevelTitle(item)}}</option>
            </select>
            <div class="error" *ngIf="speak.value.trim()  =='' && formTouch">
              Chưa chọn khả năng nói
            </div>
          </div>

          <div class="item-control">
            <label>Đọc </label>
            <select class="form-control" formControlName="read" required #read>
              <option *ngFor="let item of levels" [value]="item">{{foreignService.getLevelTitle(item)}}</option>
            </select>
            <div class="error" *ngIf="read.value.trim()  =='' && formTouch">
              Chưa chọn khả năng đọc
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-5">
          <div class="item-control">
            <label>Viết </label>
            <select class="form-control" formControlName="write" required #write>
              <option *ngFor="let item of levels" [value]="item">{{foreignService.getLevelTitle(item)}}</option>
            </select>
            <div class="error" *ngIf="write.value.trim()  =='' && formTouch">
              Chưa chọn khả năng viết
            </div>
          </div>

          <div class="item-control">
            <label>Dịch</label>
            <select class="form-control" formControlName="translate" required #translate>
              <option *ngFor="let item of levels" [value]="item">{{foreignService.getLevelTitle(item)}}</option>
            </select>
            <div class="error" *ngIf="translate.value.trim()  =='' && formTouch">
              Chưa chọn khả năng dịch
            </div>
          </div>

          <div class="item-control">
            <label>Giao tiếp </label>
            <select class="form-control" formControlName="communicate" required #communicate>
              <option *ngFor="let item of levels" [value]="item">{{foreignService.getLevelTitle(item)}}</option>
            </select>
            <div class="error" *ngIf="communicate.value.trim()  =='' && formTouch">
              Chưa chọn khả năng giao tiếp
            </div>
          </div>

          <div class="item-control">
            <label>Chuyên nghành/chủ đề <br>có thể giảng dạy </label>
            <input type="text" class="form-control" formControlName="branch">
          </div>

        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{update == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

