
<div id="banner-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-sm-9">
        <div class="banner">
          <ul>
            <li> 3 gio truoc</li>
            <li class="pdr-15 mgr-15" >
              <a href="#" class="mgr-20"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
              @vnua
            </li>
            <li>Tin tức đến từ các social networks </li>
          </ul>
        </div>
      </div>


      <div class="col-sm-3 col-md-3">
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
