<div class="form-item">
  <div class="form-item-title"> Quá trình công tác</div>
  <div class="action-form">
    <button (click)="onSave()">Ghi nhận</button>
    <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-item">
        <div class="form-item-title">
          Thông tin quá trình
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive" id="process-work-print">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Nơi công tác</th>
                  <th>Từ ngày</th>
                  <th>Đến ngày</th>
                  <th>Chức vụ</th>
                  <th>Công việc đảm nhận</th>
                  <th class="hide-print">
                    <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of processWorks.toArray();let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.level1}}</td>
                  <td>{{item.dateFrom | date:'dd/MM/yyyy'}}</td>
                  <td>{{item.dateEnd | date:'dd/MM/yyyy'}}</td>
                  <td>{{item.position}}</td>
                  <td>{{item.job}}</td>
                  <td class="hide-print">
                    <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
                    <!--<span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>-->
                    <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = i"><i class="fa fa-remove "></i></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal #modal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin quá trình công tác</h3>
    <div *ngIf="message.condition && formNotValid" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formInfoProcess" id="formInfoProcess">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="item-control">
            <input type="checkbox" value="true" [checked]="!isBelong" (change)="isBelong =!isBelong">
            <span>Đánh dấu nếu đơn vị hiện tại không trực thuộc HVNNVN </span>
          </div>

          <div class="item-control" *ngIf="!isBelong">
            <label>Đơn vị </label>
            <input class="form-control" formControlName="organ" #organ/>
            <div class="error" *ngIf="organ.value.trim()  =='' && formTouch">
              Chưa nhập đơn vị
            </div>
          </div>


          <div class="item-control" *ngIf="isBelong">
            <label>Đơn vị công tác cấp 1 </label>
            <select class="form-control" #level1 formControlName="level1" (change)="catalogLevelChange(level1.value)">
              <option *ngFor="let item of listCatalog | level:1;let i = index " [value]="item.name">
                {{item.name}}
              </option>
            </select>
            <div class="error" *ngIf="level1.value.trim()  =='' && formTouch">
              Chưa chọn đơn vị công tác cấp 1
            </div>
          </div>

          <div class="item-control" *ngIf="isBelong">
            <label>Đơn vị công tác cấp 2</label>
            <select class="form-control" formControlName="level2" #level2>
              <option *ngFor="let item of listCatalogLevel2;let i = index " [value]="item.name">
                {{item.name}}
              </option>
            </select>
            <div class="error" *ngIf="level2.value.trim()  =='' && formTouch">
              Chưa chọn đơn vị công tác cấp 2
            </div>
          </div>
          <div class="item-control" *ngIf="isBelong">
            <input type="checkbox" value="true"  formControlName="now">
            <span>Đánh dấu nếu đây là đơn vị công tác kiêm nhiệm </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="item-control">
            <label>Từ ngày </label>
            <input type="date" formControlName="dateFrom" #dateFrom>
            <div class="error" *ngIf="dateFrom.value.trim()  =='' && formTouch">
              Chưa nhập từ ngày
            </div>
          </div>

          <div class="item-control">
            <label>Chức vụ </label>
            <input type="text" formControlName="position" #position>
            <div class="error" *ngIf="position.value.trim()  =='' && formTouch">
              Chưa nhập chức vụ
            </div>
          </div>

        </div>
        <!---->
        <div class="col-xs-12 col-sm-4">
          <div class="item-control">
            <label>Đến ngày </label>
            <input type="date" formControlName="dateEnd" #dateEnd>
            <div class="error" *ngIf="dateEnd.value.trim()  =='' && formTouch">
              Chưa nhập đến ngày
            </div>
          </div>

          <!---->
          <div class="item-control">
            <label>Công việc đảm nhận </label>
            <input type="text" class="" formControlName="job" #job>
            <div class="error" *ngIf="job.value.trim()  =='' && formTouch">
              Chưa nhập công việc đảm nhận
            </div>
          </div>

        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>



<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>
