<div class="form-item">
  <div class="form-item-title"> Quá trình công tác</div>
    <div class="action-form">
      <button>Ghi nhận</button>
      <button>Khóa dữ liệu</button>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-item">
          <div class="form-item-title">
            Thông tin quá trình
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Nơi công tác</th>
                    <th>Từ ngày</th>
                    <th>Đến ngày</th>
                    <th>Chức vụ</th>
                    <th>Công việc đảm nhận</th>
                    <th>
                      <span class="action-icon" (click)="openModal(modal)"><i class="fa fa-plus"></i></span>
                    </th>
                  </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<modal #modal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formInfoProcess">
      <div class="row">
         <div class="col-xs-12 col-sm-4">
            <div class="item-control">
              <input type="checkbox" checked formControlName="isNotBelogtoHV"> <span>Đánh dấu nếu đơn vị hiện tại không trực thuộc HVNNVN </span>
            </div>
            <div class="item-control">
              <label>Đơn vị công tác cấp 1 </label>
              <select class="form-control" formControlName="level1">
                <option value="">asssasasa</option>
                <option value="">asssasasa</option>
              </select>
            </div>
            <div class="item-control">
              <label>Đơn vị công tác cấp 2</label>
              <select class="form-control" formControlName="level2">
                <option value="">asssasasa</option>
                <option value="">asssasasa</option>
              </select>
            </div>
            <div class="item-control">
              <input type="checkbox" formControlName="concurrently"> <span>Đánh dấu nếu đây là đơn vị công tác kiêm nhiệm </span>
            </div>
         </div>
        <div class="col-xs-12 col-sm-4">
            <div class="item-control">
              <label>Từ ngày </label>
              <input type="date"  formControlName="dateFrom">
            </div>

          <div class="item-control">
            <label>Chức vụ </label>
            <input type="text" formControlName="position">
          </div>

        </div>
          <!---->
        <div class="col-xs-12 col-sm-4">
            <div class="item-control" >
              <label>Đến  ngày </label>
              <input type="date"  formControlName="dateEnd">
            </div>

          <!---->
            <div class="item-control">
              <label >Công việc đảm nhận </label>
              <input type="text" class="" formControlName="job">
            </div>

        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == -1?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>


