<div class="row">
  <div class="col-xs-12 text-right">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12 col-sm-3 text-left">
          Số lượng xem:
        </div>
        <div class="col-xs-12 col-sm-3 text-left">
          <select name="" id="" class="form-control" [(ngModel)]="numberShow" (change)="numberViewChangeEvent(numberShow)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="30">50</option>
            <option value="30">100</option>
            <option value="30">150</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <input type="text" placeholder="Nhập để tìm kiếm " class="form-control search" name="search" #query ngModel
             (keyup)="textChangeEvent(query.value)"
             (change)="textChangeEvent(query.value)">
    </div>
  </div>
</div>
