<h4 class="text-center mgb-15" style="font-size: 20px"> Danh mục khoa, phòng ban </h4>

<app-catalog-search (textChange)="textChangeListener($event)"
                    (numberViewChange)="numberViewChangeListener($event)"></app-catalog-search>

<div class="table-responsive" id="catalog-faculty">
  <table class="table table-bordered" [mfData]="listParent.toArray()" #mf="mfDataTable" [mfRowsOnPage]="numberShow">
    <thead>
    <tr>
      <th style="width:5%">STT</th>
      <th>
        <mfDefaultSorter by="code">Mã (khoa/phòng ban)</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="name">Tên (khoa/phòng ban)</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="url">Địa chỉ website</mfDefaultSorter>
      </th>
      <th>
        <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data;let i = index ">
      <td>{{i+1}}</td>
      <td class="name upper-case">{{item.code}}</td>
      <td class="name first-upper-case">{{item.name.toLowerCase()}}</td>
      <td class="name"><a [href]="item.url" target="_blank">{{item.url}}</a></td>
      <td style="width:10%">
        <span class="action-icon" title="Chi tiết " (click)="viewDetail(item)"><i class="fa fa-eye"
                                                                                  aria-hidden="true"></i></span>
        <span class="action-icon" title="Chỉnh sửa " (click)="editItem(item)"><i class="fa fa-edit"></i></span>
        <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = item"><i class="fa fa-remove "></i></span>
        <!--<span class="action-icon" title="Xóa " (click)="removeItem(item)"><i class="fa fa-remove"></i></span>-->
      </td>
    </tr>
    <tr class="footer-table-pager">
      <td colspan="5">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<modal #modal size='lg' backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
    <h3 class="text-center"> Thêm khoa/phòng ban </h3>
    <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form [formGroup]="formData" class="mgb-i-10">
      <div class="row">

        <div class="col-xs-12">

          <div class="item-control">
            <label>Tên khoa/phòng ban </label>
            <input name="name" formControlName="name" class="form-control" #name required
                   style="width: 100%!important;"/>
            <div class="error" *ngIf="touched && name &&  name.value == '' || touched && name == null">
              Chưa nhập tên
            </div>
          </div>

          <!--*ngIf="positionUpdate == null"-->
          <div class="item-control">
            <label>Mã khoa/phòng ban </label>
            <input name="code" formControlName="code" class="form-control" #code required
                   style="width: 100%!important;"/>
            <div class="error" *ngIf="touched && code &&  code.value.trim() == '' || touched && code == null">
              Chưa nhập mã
            </div>

            <div class="error"
                 *ngIf="touched && code.value != '' && !validCode(code.value)">
              Mã không chính sác, mã phải gồm 3 kí tự alphabet
            </div>

          </div>

          <div class="item-control">
            <label>Cấp </label>
            <select name="level" formControlName="level" #level required class="form-control"
                    (change)="changeLevel(level.value)">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <div class="error" *ngIf="touched && level &&  level.value == '' || touched && level ==null">
              Chưa chọn cấp
            </div>
          </div>


          <div class="item-control" *ngIf="level.value == 1">
            <label>Kiểu </label>
            <select name="type" formControlName="type" #type required class="form-control">
              <option value="khoa">Khoa</option>
              <option value="phongban">Phòng ban</option>
            </select>
            <div class="error" *ngIf="touched && type.value == '' ||  touched && type ==null">
              Chưa chọn kiểu
            </div>
          </div>

          <div class="item-control" *ngIf="level.value == 1">
            <label>Địa chỉ website: </label>
            <input name="url" formControlName="url" class="form-control"
                   style="width: 100% !important;"/>
          </div>

          <div class="item-control" *ngIf="showParent">
            <label>Đơn vị cấp cha </label>
            <select name="parent" formControlName="parent" #parentt required class="form-control" style="width: 100%">
              <option *ngFor="let item of list.toArray() | level:levelFilter;let i = index " [value]="item._id">
                {{item.name}}
              </option>
            </select>
            <div class="error" *ngIf="touched && !parentt">
              Chưa chọn cấp cha
            </div>
          </div>

        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="onSave(formData)">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

<modal #modalDetail size='lg' backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modalDetail)">Thoát</button>
    </div>
    <h4 class="text-center" style="text-transform: capitalize">{{titleDetail}}</h4>
    <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-bordered" [mfData]="details.toArray()" #mfDetail="mfDataTable"
                 [mfRowsOnPage]="numberShow">
            <thead>
            <tr>
              <th style="width:5%">STT</th>
              <th>
                <mfDefaultSorter by="code">Mã phòng ban)</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="name">Tên phòng ban</mfDefaultSorter>
              </th>
              <th>
                <!--<th>-->
                <span class="action-icon" (click)="openModals(1)"><i class="fa fa-plus"></i></span>
                <!--</th>-->
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mfDetail.data;let i = index ">
              <td>{{i+1}}</td>
              <td class="name upper-case">{{item.code}}</td>
              <td class="name first-upper-case">{{item.name.toLowerCase()}}</td>
              <td style="width:10%">
                <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
                <!--<span class="action-icon" (click)="removeItem(item)"><i class="fa fa-remove"></i></span>-->

                <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = item"><i
                  class="fa fa-remove "></i></span>
              </td>
            </tr>

            <tr class="footer-table-pager">
              <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </modal-body>

  <!--<modal-footer>-->
  <!--<button class="btn-action" (click)="onSave(formData)">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>-->
  <!--</modal-footer>-->

</modal>


<modal #modalNewDepart size='lg' backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modalNewDepart)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form class="mgb-i-10">
      <div class="row">

        <div class="col-xs-12">

          <div class="item-control">
            <label>Tên phòng ban </label>
            <input name="name" class="form-control" [(ngModel)]="newDepart.name" #nameDep required
                   style="width: 100%!important;"/>
            <div class="error" *ngIf="touched && nameDep &&  nameDep.value == '' || touched && nameDep == null">
              Chưa nhập tên
            </div>
          </div>

          <div class="item-control">
            <label>Mã phòng ban </label>
            <input name="code" class="form-control" [(ngModel)]="newDepart.code" #codeDep required
                   style="width: 100%!important;"/>
            <div class="error" *ngIf="touched && codeDep &&  codeDep.value.trim() == '' || touched && codeDep == null">
              Chưa nhập mã
            </div>
            <div class="error"
                 *ngIf="touched && codeDep.value != '' && !validCode(codeDep.value)">
              Mã không chính sác, mã phải gồm 3 kí tự alphabet
            </div>

          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="onSave()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>
