<div id="footer-wrapper" style="background-image: url('../../../../assets/images/footer/foot4.png')" class="pdt-10 pdb-10">
  <div class="container">
    <div class="row pdt-10 " style="background-color:rgba(255,255,255,0.3);">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <h1 class="upper-case hidden-lg hidden-md pdb-15 pdt-15">Học viện nông nghiệp việt nam</h1>
        <div class="ro-social">
          <ul>
            <li>
              <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>Tuyển sinh</span></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-gift" aria-hidden="true"></i><span>Học bổng</span></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-user" aria-hidden="true"></i><span>Tuyển dụng</span></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i><span>Danh bạ điện thoại</span></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-9 col-sm-12 col-xs-12">
        <h1 class="upper-case hidden-sm hidden-xs ">Học viện nông nghiệp việt nam</h1>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="ro-infor pdb-15">
              <ul>
                <li><i class="fa fa-angle-right fs-20 fw-bold pdr-15" aria-hidden="true"></i><a href="#">Lịch sử</a></li>
                <li><i class="fa fa-angle-right fs-20 fw-bold pdr-15" aria-hidden="true"></i><a href="#">Thành tựu</a></li>
                <li><i class="fa fa-angle-right fs-20 fw-bold pdr-15" aria-hidden="true"></i><a href="#">Các sự kiện nổi bật</a></li>
              </ul>
            </div>
            <div class="ro-address-infor">
              <p>Địa chỉ:<span class="capitalize pdl-5">Trâu quỳ - gia lâm - hà nội</span></p>
              <p>Điên thoại:<span class="capitalize pdl-5">84438276346 </span></p>
              <p>Fax:<span class="capitalize pdl-5"> 84438276554 </span></p>
              <p><a href="mailto:#" style="color: #220845;">Email:<span class="pdl-5">webmaster@vnua.edu.vn</span></a></p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="col-md-6 col-xs-12 hidden-xs hidden-sm">
            <div class="pdb-15 map" >
              <app-map></app-map>
              <!--<img src="../../../assets/images/footer/map.png" alt="" class="img-responsive">-->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
