<div class="container-fluid " style="background-color: rgb(17,46,76);padding-left: 0;">
  <div class="row">
    <div class="col-xs-12">

      <div class="app-head">
        <!--<div class="navbar-toggle" (click)="toogleMenuLeft()">-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--</div>-->
        <!--<div>-->
        <div class="app-logo">
          <a routerLink="/home">
            <img src="../../../../assets/images/logo/logo4.png" alt="logo">
            <span style="font-weight: 600;color: #fff;">VNUA</span>
          </a>
        </div>
        <div class="app-name">
          {{titleName}}
        </div>
        <div class="right">
          <div class="dropdown">
            <img [src]="avatar?avatar:'/assets/images/avatar/avatar.jpg'" class="avatar" alt=""
                 style="width: 30px;height: 30px">
            <a id="dropdownMenu1" data-toggle="dropdown" style="cursor: pointer; color: #fff"
               aria-haspopup="true" aria-expanded="true">
              {{user?user.username:''}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a style="cursor: pointer" (click)="logout()">Đăng xuất</a></li>
              <li><a style="cursor: pointer" (click)="changePassModal.open()">Thay đổi mật khẩu</a></li>
            </ul>
          </div>
        </div>
        <div style="display: table-cell;vertical-align: middle"></div>
        <!--</div>-->

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="placeholder" style="height: 45px"></div>


<modal #changePassModal size='sm' cssClass="my-modal-login" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10 text-right">
      <button class="btn btn-default" (click)="closeModal(changePassModal)">Thoát</button>
    </div>
    <h3 class="text-center">Thay đổi mật khẩu</h3>
  </modal-header>

  <modal-body>
    <form (ngSubmit)="onChagePass(changePassModal)" class="pdb-20">

      <div class="mgb-10">
        <label class="fs-13">Mật khẩu cũ: </label>
        <input type="password" class="form-control" name="passWord" [(ngModel)]="data.passWord">
        <div class="error fs-13" *ngIf="formTouch && data.passWord.trim() == '' ">
          Chưa nhập mật khẩu cũ
        </div>
      </div>
      <div>
        <label class="fs-13">Mật khẩu mới : </label>
        <input type="password" class="form-control" name="newPass" [(ngModel)]="data.newPass">

        <!--<ng-template>-->
        <div class="error fs-13" *ngIf="formTouch && data.newPass.trim() == '' ">
          Chưa nhập mật khẩu mới
        </div>
        <!--</ng-template>-->

      </div>
      <div>
        <label class="fs-13">Nhập lại mật khẩu mới : </label>
        <input type="password" class="form-control" name="rePass" [(ngModel)]="data.rePass">

        <!--<ng-template >-->
        <div class="error fs-13"
             *ngIf="formTouch &&data.newPass.trim()!='' &&  data.rePass.trim()!= data.newPass.trim()">
          Hai mật khẩu không trùng nhau
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type" class="text-center">
      {{message.content}}
    </div>
    <div class=" text-right">
      <button class="btn btn-success" (click)="onChagePass(changePassModal)">Lưu</button>
    </div>

  </modal-footer>

</modal>
