<div class="mgb-50">
  <app-header-2></app-header-2>
</div>

<div class="container">

  <div id="app-menu-left">
    <div class="app-menu-content">

      <h4 class="app-menu-title-catalog">{{titleFeature}} </h4>
      <app-menu-app [native]="native" [menus]="menu" id="menu-info"></app-menu-app>
    </div>
  </div>


  <div id="app-menu-right">
    <ul class="menu-app">
      <app-menu-app [native]="native" [menus]="menu" id="menu-info"></app-menu-app>
    </ul>

  </div>

  <router-outlet></router-outlet>
</div>

<div app-top></div>

<div>
  <div app-tab-left></div>
</div>
