#app-menu-right,#app-menu-left{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 300px;
  /*height: 100%;*/
  /*overflow-y: hidden;*/
}


#app-menu-right{
  width: 350px;
  right: -300px;
}

#app-menu-right .menu-app {
  transform: translateX(300px);
  transition: 0.5s ease-in-out;

}

#app-menu-right:hover{
  right: -50px;
}

#app-menu-right:hover .menu-app{
  transform: translateX(0px);
}

/*lef-menu*/
#app-menu-left {
  left: -260px;
  overflow: hidden;
}


#app-menu-left .app-menu-content {
  transform: translateX(-300px);
  transition: 0.2s ease-in-out;
  margin-left: -1px;
}

#app-menu-left:hover{
  left: 0;
  /*height: 100vh;*/
  overflow: scroll;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #444;
}

#app-menu-left:hover .app-menu-content{
  transform: translateX(0px);
}

.app-menu-title-catalog{
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 0;
  margin-top: 0;
  border: 5px solid #2b669a;
  /*cursor: pointer;*/
}


#app-menu-left::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#app-menu-left::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

#app-menu-left::-webkit-scrollbar-thumb
{
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.hide{
  display: none;
}
