<app-search-form title="Tìm kiếm cán bộ " (onChoise)="onChoiseHandler($event)"></app-search-form>


<modal #modal size='sm' cssClass="my-modal-lg" backdrop="true">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin chi tiết </h3>
  </modal-header>

  <modal-body *ngIf="userDetail">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="mgb-15 mgr-20"><span>Mã cán bộ:</span> {{userDetail.username}}</div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div *ngIf="userDetail.organ">
              <div class="mgb-15"><span>Đơn vị: </span> {{userDetail.organ.level1.name}}</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="mgb-15 mgr-20 capitalize"><span>Họ tên:</span> {{userDetail.fullname.toLowerCase()}}</div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="mgb-15 mgr-20"><span>Ngày sinh:</span> {{userDetail.birthDay | date:'dd-MM-yyyy'}}</div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="mgb-15 mgr-20"><span>Giới tính : </span>{{userDetail.sex == 0?'Nam':'Nữ'}}</div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="mgb-15 mgr-20"><span>Email:</span> {{userDetail.email}}</div>
          </div>
        </div>

      </div>
    </div>
  </modal-body>

</modal>
