<div class="form-item">
  <div class="form-item-title">
    Quá trình đào tạo
  </div>
<form action="" [formGroup]="formData" style="border: none">
  <div class="action-form">
    <button>Ghi nhận</button>
    <button>Khóa dữ liệu</button>
  </div>
  <!---->

    <div class="mgb-20">
      <label>Trình độ giáo dục phổ thông </label>
      <select name="" id="" class="form-control" style="float: none;width: 150px !important;min-width: 0"
              formControlName="generalEdu">
        <option value="1">1/12</option>
        <option value="2">2/12</option>
        <option value="3">3/12</option>
        <option value="4">4/12</option>
        <option value="5">5/12</option>
        <option value="6">6/12</option>
        <option value="7">7/12</option>
      </select>
    </div>
    <!---->
    <div class="form-item long-time  ">
      <div class="form-item-title">
        Quá trình đào tạo dài hạn
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>STT</th>
            <th>Từ năm</th>
            <th>Đến năm</th>
            <th>Chuyên nghành</th>
            <th>Bậc học</th>
            <th>Học vị đạt được</th>
            <th>Xếp loại</th>
            <th>Trường đào tạo</th>
            <th>Nước đào tạo</th>
            <th>
              <span class="action-icon" (click)="openModal(trainLongTimeModal)"><i class="fa fa-plus"></i></span>
            </th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>1</td>
            <td>{{itemLong.yearFrom}}</td>
            <td>{{itemLong.yearEnd}}</td>
            <td>{{itemLong.specialized}}</td>
            <td>{{itemLong.levelLearn}}</td>
            <td>{{itemLong.academicRank}}</td>
            <td>{{itemLong.spice}}</td>
            <td>{{itemLong.school}}</td>
            <td>{{itemLong.national}}</td>
            <td>
              <span class="action-icon"><i class="fa fa-edit"></i></span>
              <span class="action-icon"><i
                class="fa fa-remove icon-remove-update"></i></span>
              <span class="action-icon"><i class="fa fa-lock"></i></span>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!---->
    <div class="form-item short-time">
      <div class="form-item-title">
        Quá trình đào tạo ngắn hạn
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>STT</th>
            <th>Từ tháng/năm</th>
            <th>Số tháng</th>
            <th>Chứng chỉ</th>
            <th>Nơi đào tạo</th>
            <th>Nước đào tạo</th>
            <th>Mô tả</th>
            <th>
              <span class="action-icon" (click)="openModal(trainShortTimeModal)"><i class="fa fa-plus"></i></span>
            </th>
          </tr>
          </thead>

          <tbody>
          <!-- content-->
          <tr>
            <td>1</td>
            <td>{{itemShort.dateFrom}}</td>
            <td>{{itemShort.numberMonth}}</td>
            <td>{{itemShort.certificate}}</td>
            <td>{{itemShort.placeTrain}}</td>
            <td>{{itemShort.national}}</td>
            <td>{{itemShort.description}}</td>
            <td>
              <span class="action-icon"><i class="fa fa-edit"></i></span>
              <span class="action-icon"><i
                class="fa fa-remove icon-remove-update"></i></span>
              <span class="action-icon"><i class="fa fa-lock"></i></span>
            </td>
          </tr>
          <!---->

          </tbody>
        </table>
      </div>
    </div>

</form>
</div>


<!--long time-->
<modal #trainLongTimeModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(trainLongTimeModal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formLongTime">
      <div class="row">

        <div class="col-xs-12 col-sm-5 col-sm-offset-1">

          <div class="item-control">
            <label>Từ năm</label>
            <input type="number" class="date" formControlName="yearFrom"/>
          </div>


          <div class="item-control">
            <label>Đến năm</label>
            <input type="number" class="date" formControlName="yearEnd"/>
          </div>


          <div class="item-control">
            <label>Chuyên nghành</label>
            <input type="text" formControlName="specialized"/>
          </div>


          <div class="item-control">
            <label>Bậc học</label>
            <select name="" class="form-control" formControlName="levelLearn">
              <option value="">----Chọn-----</option>
            </select>
          </div>

        </div>

        <div class="col-xs-12 col-sm-5">
          <div class="item-control">
            <label>Học vị đạt được</label>
            <input type="text" formControlName="academicRank"/>
          </div>

          <!---->
          <div class="item-control">
            <label>Xếp loại</label>
            <select name="" class="form-control" formControlName="spice">
              <option value="">----Chọn-----</option>
            </select>
          </div>
          <!---->

          <div class="item-control">
            <label>Trường đào tạo</label>
            <input type="text" formControlName="school"/>
          </div>
          <!---->
          <div class="item-control">
            <label>Nước đào tạo</label>
            <select name="" class="form-control" formControlName="national" style="width: 200px">
              <option value="not" *ngIf="positionUpdateLongTime == -1">----Chọn-----</option>
              <option *ngFor="let item of nationalService.nationals " [value]="item.code">
                {{item.name}}
              </option>
            </select>
          </div>
          <!---->
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdateLongTime == -1?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

<!--short time-->
<modal #trainShortTimeModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(trainShortTimeModal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formShortTime">
      <div class="row">

        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="item-control">
            <label>Từ tháng/năm</label>
            <input type="date" class="" formControlName="dateFrom"/>
          </div>


          <div class="item-control">
            <label>Số tháng</label>
            <input type="number" class="date"  min="1" formControlName="numberMonth"/>
          </div>


          <div class="item-control">
            <label>Chứng chỉ</label>
            <input type="text" formControlName="certificate"/>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 ">

          <div class="item-control">
            <label>Nước đào tạo</label>
            <input type="text" formControlName="placeTrain"/>
          </div>

          <!---->
          <div class="item-control">
            <label>Nước đào tạo</label>
            <select name="" class="form-control" formControlName="national" style="width: 200px">
              <option value="not" *ngIf="positionUpdateShortTime == -1">----Chọn-----</option>
              <option *ngFor="let item of nationalService.nationals " [value]="item.code">
                {{item.name}}
              </option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label>Mô tả</label>
            <input type="text" formControlName="description"/>
          </div>
          <!---->
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdateShortTime == -1?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

