<div class="form-item">
  <div class="form-item-title">
    Quá trình đào tạo
  </div>
  <form action="" [formGroup]="formData" style="border: none">
    <div class="action-form">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <!---->

    <div class="mgb-20">
      <label>Trình độ giáo dục phổ thông </label>
      <select name="" id="" class="form-control" style="float: none;width: 150px !important;min-width: 0"
              formControlName="generalEdu">
        <option *ngFor="let item of commons" [value]="item">{{item}}/12</option>
      </select>
    </div>
    <!---->
    <div class="form-item long-time  ">
      <div class="form-item-title">
        Quá trình đào tạo dài hạn
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>STT</th>
            <th>Từ năm</th>
            <th>Đến năm</th>
            <th>Chuyên nghành</th>
            <th>Bậc học</th>
            <th>Học vị đạt được</th>
            <th>Xếp loại</th>
            <th>Trường đào tạo</th>
            <th>Nước đào tạo</th>
            <th>
              <span class="action-icon" (click)="openModals(0)"><i class="fa fa-plus"></i></span>
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let item of longTimes.toArray();let i = index">
            <td>1</td>
            <td>{{item.yearFrom}}</td>
            <td>{{item.yearEnd}}</td>
            <td>{{item.specialized}}</td>
            <td>{{item.levelLearn}}</td>
            <td>{{item.academicRank}}</td>
            <td>{{item.spice}}</td>
            <td>{{item.school}}</td>
            <td>{{nationalService.getNationalByCode(nationals,item.national).name}}</td>
            <td>
              <span class="action-icon" (click)="editItem(item,0)"><i class="fa fa-edit"></i></span>
              <span class="action-icon" (click)="removeItem(i,0)"><i
                class="fa fa-remove icon-remove-update"></i></span>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!---->
    <div class="form-item short-time">
      <div class="form-item-title">
        Quá trình đào tạo ngắn hạn
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>STT</th>
            <th>Từ tháng/năm</th>
            <th>Số tháng</th>
            <th>Chứng chỉ</th>
            <th>Nơi đào tạo</th>
            <th>Nước đào tạo</th>
            <th>Mô tả</th>
            <th>
              <span class="action-icon" (click)="openModals(1)"><i class="fa fa-plus"></i></span>
            </th>
          </tr>
          </thead>

          <tbody>
          <!-- content-->
          <tr *ngFor="let item of shortTimes.toArray();let i = index">
            <td>1</td>
            <td>{{item.dateFrom | date:'MM/yyyy'}}</td>
            <td>{{item.numberMonth}}</td>
            <td>{{item.certificate}}</td>
            <td>{{item.placeTrain}}</td>
            <td>{{nationalService.getNationalByCode(nationals,item.national).name}}</td>
            <td>{{item.description}}</td>
            <td>
              <span class="action-icon" (click)="editItem(item,1)"><i class="fa fa-edit"></i></span>
              <span class="action-icon" (click)="removeItem(i,1)"><i
                class="fa fa-remove icon-remove-update"></i></span>
            </td>
          </tr>
          <!---->

          </tbody>
        </table>
      </div>
    </div>

  </form>
</div>


<!--long time-->
<modal #trainLongTimeModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(trainLongTimeModal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formLongTime">
      <div class="row">

        <div class="col-xs-12 col-sm-5 col-sm-offset-1">

          <div class="item-control">
            <label>Từ năm</label>
            <input type="number" class="date" formControlName="yearFrom"/>
          </div>


          <div class="item-control">
            <label>Đến năm</label>
            <input type="number" class="date" formControlName="yearEnd"/>
          </div>


          <div class="item-control">
            <label>Chuyên nghành</label>
            <input type="text" formControlName="specialized"/>
          </div>


          <div class="item-control">
            <label>Bậc học</label>
            <select name="" class="form-control" formControlName="levelLearn">
              <option *ngFor="let item of rankTrains" [value]="item">{{item}}</option>
            </select>
          </div>

        </div>

        <div class="col-xs-12 col-sm-5">
          <div class="item-control">
            <label>Học vị đạt được</label>
            <select name="" class="form-control" formControlName="academicRank">
              <option *ngFor="let item of catalogRankAcademic" [value]="item.name">{{item.name}}</option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label>Xếp loại</label>
            <select name="" class="form-control" formControlName="spice">
              <option *ngFor="let item of speciesObtain" [value]="item">{{item}}</option>
            </select>
          </div>
          <!---->

          <div class="item-control">
            <label>Trường đào tạo</label>
            <input type="text" formControlName="school"/>
          </div>
          <!---->
          <div class="item-control">
            <label>Nước đào tạo</label>
            <select name="" class="form-control" formControlName="national" style="width: 200px">
              <option *ngFor="let item of nationals " [value]="item.code">
                {{item.name}}
              </option>
            </select>
          </div>
          <!---->
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem(0)">{{positionUpdateLong == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

<!--short time-->
<modal #trainShortTimeModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(trainShortTimeModal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formShortTime">
      <div class="row">

        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="item-control">
            <label>Từ tháng/năm</label>
            <input type="date" class="" formControlName="dateFrom"/>
          </div>


          <div class="item-control">
            <label>Số tháng</label>
            <input type="number" class="date" min="1" formControlName="numberMonth"/>
          </div>


          <div class="item-control">
            <label>Chứng chỉ</label>
            <input type="text" formControlName="certificate"/>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 ">

          <div class="item-control">
            <label>Nơi đào tạo</label>
            <input type="text" formControlName="placeTrain"/>
          </div>

          <!---->
          <div class="item-control">
            <label>Nước đào tạo</label>
            <select name="" class="form-control" formControlName="national" style="width: 200px">
              <option *ngFor="let item of nationals " [value]="item.code">
                {{item.name}}
              </option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label>Mô tả</label>
            <input type="text" formControlName="description"/>
          </div>
          <!---->
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem(1)">{{positionUpdateShort == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

