input[type='text'], textarea {
  width: 100% !important;
  max-width: 100% !important;
}

tr td {
  padding:  5px !important;
}
tbody tr:hover {
  background-color: #eae7df;
  cursor: pointer;
}

tbody tr:last-child:hover {
  background-color: transparent;
  cursor: default;
}
