<div class="calendar" >
  <div class="title ">
    <a href="#"><span class="separator pdr-10"> Sự kiện </span>Lịch tuần</a>
  </div>
  <div class="rol-content">

    <ul>

      <li>
        <div class="_month">
          Tháng 4 - 05
        </div>
        <div class="_content">
          <ul>
            <li>
              <a href="" class="pdb-5">Lễ trao bằng tốt nghiệp Lễ trao bằng tốt nghiệp Lễ trao bằng tốt nghiệp <br><span class="color-main3">8h30</span></a>
            </li>
            <li>
              <a href="" class="pdb-5">Lễ trao bằng tốt nghiệp <br><span class="color-main3">8h30</span></a>
            </li>
            <li>
              <a href="" class="pdb-5">Lễ trao bằng tốt nghiệp <br><span class="color-main3">8h30</span></a>
            </li>
          </ul>
        </div>

      </li>

      <li>

        <div class="_month">
          Tháng 3 - 25
        </div>

        <div class="_content">
          <ul>
            <li>
              <a href="" class="pdb-5">Lễ trao bằng tốt nghiệp Lễ trao bằng tốt nghiệp Lễ trao bằng tốt nghiệp <br><span class="color-main3">8h30</span></a>
            </li>
            <li>
              <a href="" class="pdb-5">Lễ trao bằng tốt nghiệp <br><span class="color-main3">8h30</span></a>
            </li>
          </ul>
        </div>

      </li>

    </ul>

  </div>
</div>
