<div class="row form-item " style="margin-left: 0;margin-right: 0">
  <div class="form-item-title">
    Thông tin hướn dẫn luận văn/luận án
  </div>

  <form>
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên học viên</th>
          <th>Bậc</th>
          <th>Năm</th>
          <th>Tên luận văn/luận án</th>
          <th>Vai trò</th>
          <th>Đạt loại</th>
          <th>
            <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listThesiss.toArray();let i = index ">
          <td>{{i+1}}</td>
          <td>{{item.namePersonGuide}}</td>
          <td>{{item.level}}</td>
          <td>{{item.yearGuide}}</td>
          <td>{{item.thesisName}}</td>
          <td>{{item.role}}</td>
          <td>{{item.speciesObtain}}</td>
          <td>
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
            <!--<span class="action-icon"><i class="fa fa-lock"></i></span>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!---->
  </form>
</div>

<modal #thesisGuide size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(thesisGuide)">Thoát</button>
    </div>
    <div *ngIf="message.condition && formNotValid " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="thesis-guide-form">
      <div class="row">
        <div class="col-xs-12 col-sm-6 ">
          <div class="item-control pdt-i-0">
            <label>Tên luận văn/luận án </label>
            <input type="text" formControlName="thesisName" required #thesisName>
            <div class="error" *ngIf="thesisName.value.trim()  =='' && formTouch">
              Chưa nhập tên luận văn/luận án
            </div>
          </div>
          <div class="item-control ">
            <label>Tên người được hướng dẫn </label>
            <input type="text" formControlName="namePersonGuide" required #namePersonGuide>
            <div class="error" *ngIf="namePersonGuide.value.trim()  =='' && formTouch">
              Chưa nhập tên người được hướng dẫn
            </div>
          </div>
          <div class="item-control">
            <label>Năm hướng dẫn </label>
            <input type="number" formControlName="yearGuide" required #yearGuide>
            <div class="error" *ngIf="yearGuide.value.trim()  =='' && formTouch">
              Chưa nhập năm hướng dẫn
            </div>
          </div>

        </div>
        <!---->
        <div class="col-xs-12 col-sm-6 ">
          <div class="item-control pdt-i-0">
            <label>Bậc </label>
            <select class="form-control" formControlName="level" required #level>
              <option *ngFor="let item of rankTrains" [value]="item">{{item}}</option>
            </select>
            <div class="error" *ngIf="level.value.trim()  =='' && formTouch">
              Chưa chọn bậc
            </div>
          </div>
          <div class="item-control">
            <label>Vai trò giảng viên </label>
            <input type="text" formControlName="role" required #role>
            <div class="error" *ngIf="role.value.trim()  =='' && formTouch">
              Chưa nhập vai trò
            </div>
          </div>
          <div class="item-control">
            <label>Đạt loại </label>
            <select class="form-control" formControlName="speciesObtain" required #speciesObtains>
              <option *ngFor="let item of speciesObtain" [value]="item">{{item}}</option>
            </select>
            <div class="error" *ngIf="speciesObtains.value.trim()  =='' && formTouch">
              Chưa chọn đạt loại
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>
