<div class="form-item mgt-20" >
  <div class="form-item-title">
    Chú ý
  </div>
  <div>
    <p>* Quý vị nhấn icon <span><i class="fa fa-plus"></i></span> này để nạp dữ liệu và nhấn
      <span><i class="fa fa-save "></i></span> Ghi nhận để thêm mới thông tin </p>
    <p>* Quý vị nhấn icon <span><i class="fa fa-edit"></i></span> này để sửa dữ liệu và nhấn
      <span><i class="fa fa-save "></i></span> Ghi nhận để cập nhật thông tin </p>
    <p>* Quý vị nhấn icon <span><i class="fa fa-remove icon-remove-update "></i></span> này để bỏ qua việc cập nhật </p>
    <p>* Quý vị nhấn icon <span><i class="fa fa-remove  "></i></span> này để xóa dữ liệu </p>
  </div>
</div>
