<h4 class="text-center mgb-15" style="font-size: 20px"> Danh mục dân tộc </h4>

<app-catalog-search (textChange)="textChangeListener($event)"
                    (numberViewChange)="numberViewChangeListener($event)"></app-catalog-search>


<div *ngIf="message.condition"
     [ngClass]="'alert alert-'+ message.type">
  {{message.content}}
</div>
<p>Tổng số: {{list.toArray().length}}</p>
<div class="table-responsive">
  <table class="table table-bordered" [mfData]="list.toArray()" #mfDetail="mfDataTable" [mfRowsOnPage]="numberShow">
    <thead>
    <tr>
      <th style="width:5%">STT</th>
      <th style="width:70%" class="name">
        <mfDefaultSorter by="name">Tên dân tộc</mfDefaultSorter>
      </th>
      <th style="width:10%">
        <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mfDetail.data;let i = index ">
      <td>{{i+1}}</td>
      <td class="name">{{item.name}}</td>
      <td style="width:10%">
        <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
        <!--<span class="action-icon" (click)="removeItem(item)"><i class="fa fa-remove"></i></span>-->
        <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = item"><i class="fa fa-remove "></i></span>
      </td>
    </tr>
    <tr class="footer-table-pager">
      <td colspan="3">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<modal #modal size='lg' backdrop="true">

  <modal-header>
    <div class="action-form mgb-i-10 text-right">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10">
      <div class="row">
        <div class="col-xs-12">
          <div class="item-control">
            <label>Tên dân tộc</label>
            <input name="inputData" class="form-control" [(ngModel)]="inputData" style="width: 100%!important;"/>
          </div>
          <div class="error fs-13" *ngIf="msg != ''">
            {{msg}}
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action"
            (click)="onSave()">{{update == null?'Thêm':'Cập nhật'}}
    </button>
  </modal-footer>

</modal>


<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>
