
<div id="facultyCarousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">

    <a href="#" class="item active">
      <img src="../../../assets/images/khoa/khoa1.png" alt="" class="img-responsive pdb-15">
      <div class="rol-title pdb-10">
        Khoa nông học
      </div>
      <div class="ro-text">
        Khoa nông học , Tiền thân là Khoa Trồng trọt được thành lập từ năm 1956. Đến năm 1997 Khoa chính thức đổi tên thành khoa Nông học
        ngày nay.
      </div>
    </a>

    <a href="#" class="item ">
      <img src="../../../../assets/images/khoa/khoa1.png" alt="" class="img-responsive pdb-15">
      <div class="rol-title pdb-10">
        Khoa nông học
      </div>
      <div class="ro-text">
        Khoa nông học , Tiền thân là Khoa Trồng trọt được thành lập từ năm 1956. Đến năm 1997 Khoa chính thức đổi tên thành khoa Nông học
        ngày nay.
      </div>
    </a>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#facultyCarousel" data-slide="prev" style="background: none">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#facultyCarousel" data-slide="next" style="background: none">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
