<app-search-form  title="Làm thủ tục buộc thôi việc " [showLeaveBindRetire]="true" (onChoise)="onChoiseHandler($event)" ></app-search-form>



<app-procedure-form (onEdit)="editHandler($event)" #procedureForm [datas]="data.toArray()" title="Làm thủ tục buộc thôi việc"
                    [user]="user"
                    (onProcess)="onProcess($event)"
                    (onRemove)="removeHandler($event)"
                    (textChange)="textChangeListener($event)"
                ></app-procedure-form>

