.mgb-20 {
  margin-left: 20px;
}

ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

.left {
  float: left;
  margin-right: 50px;
  height: 230px;
}

.right ul li > span:first-child {
  margin-right: 20px;
  min-width: 150px;
  display: inline-block;
}

.address {
  display: table;
}

.address li {
  display: table-cell;
  width: 350px;
}

.address li span:first-child {
  margin-right: 30px;
}

img {
  width: 230px;
  height: 230px;
}

.col-xs-12 {
  margin-bottom: 15px;
}

td {
  border: none !important;
  /*padding: 0px 5px !important;*/
}

.hide-print {
  display: none;
}

.show-print {
  display: inline-block !important;
}

.mgl-print-0 {
  margin-left: 0px;
}

.mgl-print--20 {
  margin-left: -20px;
}

.mgl-print-20 {
  margin-left: 20px;
}

.form-item-title {
  font-weight: bold;
}

.item-title {
  /*display: block;*/
  /*width: 500px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  text-align: left;
}

h5 {
  font-weight: 600;
}

.content-detail {
  display: inline-block;
  margin-left: 20px;
}
