<p *ngIf="data">Tổng số : {{data.length}}</p>
<dx-data-grid noDataText="Không có dữ liệu" (onRowClick)="onClickShare($event.data)" id="gridContainer"
              [dataSource]="data">

  <dxo-export [enabled]="true" fileName="{{title}}" [allowExportSelectedData]="true"></dxo-export>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-group-panel emptyPanelText="{{title}}" [visible]="true"></dxo-group-panel>
  <div>

    <dxi-column *ngFor="let item of fields" [caption]="item.caption" [format]="item.format" [dataField]="item.field"
                [dataType]="item.type"
                [width]="item.width"></dxi-column>
  </div>
</dx-data-grid>
