.form-control {
  width: 100%;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
}

select, input {
  float: none;
  min-width: 0;
}

@media (min-width: 768px) {
  .form-control {
    width: 70%;
    float: right;
  }
}
