<app-search-form title="Chỉnh sửa thông tin tài khoản cán bộ " (onChoise)="onChoiseHandler($event)"></app-search-form>


<modal #modalEdit size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10 text-right">
      <button (click)="closeModal(modalEdit)">Thoát</button>
    </div>
    <h3 class="text-center fs-18">Cập nhật thông tin tài khoản</h3>
  </modal-header>
  <modal-body>
    <form [formGroup]="formData" style="border-color: transparent" id="form-edit-user">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="item-control">
          <label>Mã cán bộ: </label>
          <input type="text" class="form-control" disabled required [value]=" user ? user['username'] : ''">
        </div>


        <div class="item-control">
          <label>Họ tên: </label>
          <input type="text" required class="form-control" #fullName formControlName="fullName">

        </div>

        <div class="item-control">
          <div class="error" *ngIf="fullName.value.trim() == '' && formTouched">Chưa nhập họ tên</div>
        </div>

        <div class="item-control">
          <label>Ngày sinh: </label>
          <input type="date" required class="form-control" [value]="user?(user.birthDay | date: 'yyyy-MM-dd'):'' "
                 #birthDay formControlName="birthDay">

        </div>


        <div class="item-control">
          <div class="error" *ngIf="birthDay.value.trim() == '' && formTouched">Chưa nhập ngày sinh</div>
        </div>

        <div class="item-control">
          <label>Giới tính : </label>
          <select name="sex" required class="form-control" #sex formControlName="sex">
            <option value="0">Nam</option>
            <option value="1">Nữ</option>
          </select>
        </div>

        <div class="item-control">
          <div class="error" *ngIf="sex.value.trim() == '' && formTouched">Chưa chọn giới tính</div>
        </div>

        <div class="item-control">
          <label>Email: </label>
          <input type="email" required pattern="^\w+([\.-_]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control"
                 #email formControlName="email">

        </div>


        <div class="item-control">
          <div class="error" *ngIf="!validEmail(email.value) && formTouched">Email phải đúng định abc@xx...</div>
        </div>

        <!--<div class="item-control">-->
          <!--<label>Mật khẩu: </label>-->
          <!--<input class="form-control " style="width: 70%" [type]="showPass == true?'text':'password'" #passWord-->
                 <!--required formControlName="passWord">-->

        <!--</div>-->

        <!--<div class="item-control">-->
          <!--<div class="error" *ngIf="passWord.value.trim() == '' && formTouched">Chưa nhập mật khẩu</div>-->
        <!--</div>-->

        <!--<div class="item-control">-->
          <!--<label>Hiện rõ </label>-->
          <!--<input type="checkbox" style="width: 42%" (change)="showPass = !showPass ">-->
        <!--</div>-->

        <!--<div class="item-control">-->
          <!--<label>Nhập lại mật khẩu: </label>-->
          <!--<input [type]="showPass == true?'text':'password'" (change)="rePassTouch = true" #rePassWord-->
                 <!--class="form-control" formControlName="rePassWord">-->
        <!--</div>-->

        <!--<div class="item-control">-->
          <!--<div class="error" *ngIf="!rePassTouch && passWord.value.trim() != ''">-->
            <!--Nhập lại mật khẩu-->
          <!--</div>-->
          <!--<div class="error"-->
               <!--*ngIf="rePassTouch && passWord.value.trim() != '' && rePassWord.value!= passWord.value && formTouched">-->
            <!--Mật khẩu không trùng nhau-->
          <!--</div>-->
        <!--</div>-->


        <div class="item-control">
          <label>Activated </label>
          <input type="checkbox" style="width: 42%" formControlName="active">
        </div>


        <div class="item-control">
          <label>Lí do: </label>
          <textarea #reason
                    class="form-control" formControlName="reason"></textarea>
          <div class="error" *ngIf="formTouched && reason.value.trim() == ''">
            Nhập lí do
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="action-form mgt-30 mgt-sm-50 text-center">
          <div *ngIf="message.condition  " [ngClass]="'alert alert-'+ message.type">
            {{message.content}}
          </div>
          <button (click)="onSubmit()" type="submit">Cập nhật</button>
          <button (click)="resetForm(formData)">Xóa</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </modal-body>

</modal>

