<div class="revert-navbar" >
      <span></span>
      <span></span>
      <span></span>
</div>

<div class="my-head-wrapper" style="background-image:  url('.././assets/images/head/head6.png')">
        <div class="container ">
            <div class="row">
                <div class="col-md-7 col-md-push-1">
                    <div class="content-left">
                        <div class="table-cell-wrapper">
                            <div class="logo cell-middle">
                                <img src="../../../../assets/images/logo/logo3.png" class="img-responsive"/>
                                <!--<img src="../../../assets/images/logo/nonghoc.png" class="img-responsive"/>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12 text-left">
                    <div class="content-right">
                        <div class="table-cell-wrapper">
                            <div class="cell-middle">
                                <div class="search-parent color-light-f">
                                    <ul>
                                        <li class="hide-click"><a href="#">Lịch công tác</a></li><span class="mgl-10 mgr-10 hide-click"></span>
                                      <li class="hide-click"><a href="#">Email</a> </li><span class="mgr-10 mgl-10 hide-click"></span>
                                      <li class="mgr-10 hide-click"><a class="z-index-99999999999" href="#">English</a></li>
                                        <li>
                                          <form class="hidden-xs">
                                              <div class="search-container">
                                                <input class="search" type="search" placeholder="Tìm kiếm ....">
                                                <div class="clearfix"></div>
                                              </div>
                                              <span class="find-by">
                                                <input type="radio" name="findBy" checked><span class="pd-5">web</span>
                                                <input type="radio" name="findBy"><span class="pd-5">people</span>
                                              </span>
                                            <a href="javascript:void(0)"><em class="fa fa-search f1d4 icon-search" (click)="toggleSearch()"> </em></a>
                                          </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>

