<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="../../vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link href="../../asserts/css/core/helper_class_main.css" type="text/css" rel="stylesheet"/>
    <link href="../../asserts/css/core/helper_class_i.css" type="text/css" rel="stylesheet"/>
    <link href="../../asserts/css/components/head.css" type="text/css" rel="stylesheet"/>
    <link href="../../asserts/css/core/helper_class2.css" type="text/css" rel="stylesheet"/>
    <link href="../../asserts/css/core/color.css" type="text/css" rel="stylesheet"/>
    <script src="../../vendor/jquery/jquery-3.2.1.min.js">

    </script>
</head>
<body>
<div class="my-head-wrapper" style="background-image:  url('../../asserts/images/head/head6.png')">
    <div class="container ">
        <div class="row">
            <div class="col-md-8 col-md-push-1">
                <div class="content-left">
                    <div class="table-cell-wrapper">
                        <div class="logo cell-middle">
                            <img src="../../asserts/images/logo/logo.png" class="img-responsive"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 text-left">
                <div class="content-right">
                    <div class="table-cell-wrapper">
                        <div class="cell-middle">
                            <div class="search-parent color-light-f">
                                <ul>
                                    <li >Lịch công tác</li><span class="mgl-10 mgr-10"></span>
                                    <li >Email </li><span class="mgr-10 mgl-10"></span>
                                    <li class="mgr-10">English</li>
                                    <li>
                                        <div class="search-container">
                                            <input class="search" type="search" placeholder="Tìm kiếm ....">
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <em class="fa fa-search f1d4 icon-search" > </em>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../asserts/js/main.js">
</script>
</html>
