<div class="form-item">
  <div class="form-item-title"> Danh hiệu thi đua</div>
  <form action="">
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Danh hiệu thi đua</th>
          <th>Ngày cấp</th>
          <th>Số quyết định</th>
          <th>
            <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!---->
        <!---->
        <tr *ngFor="let item of listEmulation.toArray();let i = index ">
          <td>{{i+1}}</td>
          <td>{{item.title}}</td>
          <td>{{item.dateLicense | date:'dd/MM/yyyy'}}</td>
          <td>{{item.numberDecide}}</td>
          <td>
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
            <!--<span class="action-icon" ><i class="fa fa-lock"></i></span>-->
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>
    <!---->
  </form>
</div>


<!---->

<modal #emulationTitle size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(emulationTitle)">Thoát</button>
    </div>
    <div *ngIf="message.condition && formNotValid " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="emulation-title">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="item-control pdt-i-0">
            <label>Danh hiệu thi đua </label>
            <input type="text" formControlName="title" required>
          </div>
          <!---->

          <div class="item-control">
            <label>Ngày cấp</label>
            <input type="date" formControlName="dateLicense" required>
          </div>

          <div class="item-control  ">
            <label>Số quyết định</label>
            <input type="text" formControlName="numberDecide" required>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>
