<app-search-form title=" Làm thủ tục chuyển khoa phòng ban "
                 (onSearch)="onSearchHandler($event)"
                 (onChoise)="onChoiseHandler($event)" [data]="listUser.toArray()"></app-search-form>

<modal #modal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
    <h3 class="text-center">Làm thủ tục chuyển khoa, phòng ban </h3>
  </modal-header>

  <modal-body>
    <form action="" style="border: none" class="mgb-i-10" [formGroup]="formDetail">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="item-control">
            <label>Mã cán bộ: </label>
            <input type="text" class="form-control" disabled required formControlName="personnelCode">
          </div>

          <div class="item-control">
            <label>Họ tên: </label>
            <input type="text" class="form-control" disabled required formControlName="fullName">
          </div>

          <div class="item-control">
            <label>Ngày chuyển : </label>
            <input type="date" class="form-control" required #dateTransfer formControlName="dateTransfer">
          </div>
          <div class="item-control">
            <div class="error" *ngIf="dateTransfer.value.trim()  =='' && formTouch">
              Chưa nhập ngày chuyển
            </div>
          </div>

          <div class="item-control">
            <label>Số quyết định : </label>
            <input type="text" class="form-control" required #numberDecide formControlName="numberDecide">

          </div>

          <div class="item-control">
            <div class="error" *ngIf="numberDecide.value.trim()  =='' && formTouch">
              Chưa nhập số quyết định
            </div>
          </div>

          <div class="item-control">
            <label>Ngày quyết định : </label>
            <input type="date" class="form-control" required #dateDecide formControlName="dateDecide">

          </div>

          <div class="item-control">
            <div class="error" *ngIf="dateDecide.value.trim()  =='' && formTouch">
              Chưa nhập ngày quyết định
            </div>
          </div>

          <div class="item-control">
            <label>Đơn vị cấp 1: </label>
            <select class="form-control mgb-20" style="width: 70%" required #level1 formControlName="level1"
                    (change)="level1Change(level1.value)">
              <option *ngFor="let item of listLevel1" [value]="item._id">{{item.name}}</option>
            </select>
          </div>

          <div class="item-control">
            <div class="error" *ngIf="level1.value.trim()  =='' && formTouch">
              Chưa chọn đơn vị cấp 1 chuyển tới
            </div>

            <div class="error" *ngIf=" msgFaculty != null && msgFaculty.type == 'over-level1'">
              {{msgFaculty.msg}}
            </div>

          </div>

          <div class="item-control">
            <label>Đơn vị cấp 2: </label>
            <select class="form-control mgb-20" style="width: 70%" #level2 formControlName="level2">
              <option *ngFor="let item of listLevel2" [value]="item._id">{{item.name}}</option>
            </select>

          </div>

          <div class="item-control">
            <div class="error" *ngIf=" msgFaculty != null && msgFaculty.type == 'over-level2'">
              {{msgFaculty.msg}}
            </div>
            <div class="error" *ngIf=" msgFaculty != null && msgFaculty.type == 'not-choose-level2'">
              {{msgFaculty.msg}}
            </div>
          </div>


          <div class="item-control ">
            <label>Nội dung quyết định : </label>
            <textarea class="form-control " style="max-width:100%;width: 100%;height: 150px"
                      #contentDecide required
                      formControlName="contentDecide"> </textarea>
          </div>
          <div class="item-control">
            <div class="error" *ngIf="contentDecide.value.trim()  =='' && formTouch">
              Chưa nhập nội dung quyết định
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <div class="text-center" *ngIf="message.condition  " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
    <button class="btn-action" (click)="onProcess()">Ghi nhận</button>
  </modal-footer>

</modal>
