<app-search-form title=" Làm thủ tục chuyển khoa phòng ban " (onChoise)="onChoiseHandler($event)"></app-search-form>

<modal #modal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modal)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" style="border: none" class="mgb-i-10" [formGroup]="formDetail">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h4 class="text-center mgt-5">Thông tin chi tiết </h4>
          <div class="item-control">
            <label>Mã cán bộ: </label>
            <input type="text" class="form-control" disabled required formControlName="personnelCode">
          </div>

          <div class="item-control">
            <label>Họ tên: </label>
            <input type="text"  class="form-control" disabled required formControlName="fullName">
          </div>


          <div class="item-control">
            <label>Ngày chuyển : </label>
            <input type="date" class="form-control" required formControlName="dateTransfer">
          </div>

          <div class="item-control">
            <label>Số quyết định : </label>
            <input type="text" class="form-control" required formControlName="numberDecide">
          </div>
          <div class="item-control">
            <label>Ngày quyết định : </label>
            <input type="date" class="form-control" required formControlName="dateDecide">
          </div>
          <div class="item-control">
            <label>Khoa phòng ban chuyển tới: </label>
            <select class="form-control mgb-20" style="width: 70%" formControlName="unitTransfer">
              <option value="">---Chọn----</option>
            </select>
          </div>
          <div class="item-control ">
            <label>Tóm tắt nột dung quyết định : </label>
            <textarea class="form-control " style="max-width:100%;width: 100%;height: 150px"
                      formControlName="contentDecide"> </textarea>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="onProcess()">Ghi nhận</button>
  </modal-footer>

</modal>
