<div class="form-item">
  <div class="form-item-title">
    Trình độ chính trị
  </div>
  <form action="" [formGroup]="formDataMain">
    <div class="action-form mgb-20">
      <button (click)="onSave()">Ghi nhận</button>
      <!--<button>Khóa dữ liệu</button>-->
      <div *ngIf="message.condition && formNotValid  == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <div class="table-reponsive" id="politic-rank-print">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Trình độ chính trị</th>
          <th>Năm công nhận</th>
          <th>Hiện tại</th>
          <th class="hide-print">
            <span class="action-icon" (click)="openModal(politicModal)"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!--Content-->
        <tr *ngFor="let item of listData.toArray();let i = index">
          <td>{{i+1}}</td>
          <td>{{item.level}}</td>
          <td>{{item.yearLicense}}</td>
          <td>
            <span class="show-print" style="display: none" *ngIf="item.now"><i class="fa fa-check"></i></span>
            <input class="hide-print" type="radio" name="now" formControlName="now" (click)="change(i)" [value]="i" [checked]="item.now">
          </td>
          <td class="hide-print">
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
            <!--<span class="action-icon"><i class="fa fa-lock"></i></span>-->
          </td>
        </tr>
        <!--Content-->
        </tbody>
      </table>
    </div>
  </form>
</div>

<modal #politicModal size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(politicModal)">Thoát</button>
    </div>
    <div *ngIf="message.condition && formNotValid" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formDataPoliticAdd" id="politic-form">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="item-control pdt-i-0">
            <label>Trình độ chính trị</label>
            <select class="form-control" formControlName="level" #level required>
              <option value="loai1">---------Chọn loai 1--------</option>
              <option value="loai2">---------Chọn loai2--------</option>
              <option value="loai3">---------Chọn loai3--------</option>
            </select>

            <div class="error" *ngIf="level.value.trim()  =='' && formTouch">
              Chưa chọn trình độ chính trị
            </div>
          </div>
          <!---->

          <div class="item-control">
            <label class="mgr-20">Năm công nhận</label>
            <input type="number" formControlName="yearLicense" required #yearLicense>
            <div class="error" *ngIf="yearLicense.value.trim()  =='' && formTouch">
              Chưa nhập năm công nhận
            </div>
          </div>

        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionTemp == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>


<!--print-->

<div class="col-xs-12" style="display: none">
  <div class="table-reponsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>STT</th>
        <th>Trình độ chính trị</th>
        <th>Năm công nhận</th>
        <th>Hiện tại</th>
      </tr>
      </thead>
      <tbody>
      <!--Content-->
      <tr *ngFor="let item of listData.toArray();let i = index">
        <td>{{i+1}}</td>
        <td>{{item.level}}</td>
        <td>{{item.yearLicense}}</td>
        <td>
          <span *ngIf="item.now"><i class="fa fa-check"></i></span>
        </td>
      </tr>
      <!--Content-->
      </tbody>
    </table>
  </div>
</div>
