<div class="form-item" id="party-union-info">
  <div class="form-item-title">Qúa trình hoạt động Đảng, Đoàn, Công Đoàn</div>
  <form action="" [formGroup]="formData">
    <div class="action-form">
      <button (click)="onSave()">Ghi nhận</button>
      <!--<button (click)="blockData()">Khóa dữ liệu</button>-->
      <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <!---->
        <div class="form-item" formGroupName="actionParty">
          <div class="form-item-title">
            Quá trình hoạt động Đảng
          </div>
          <div class="item-control">
            <label>Ngày vào Đảng </label>
            <input type="date" formControlName="dateIn" #partyDateIn [value]="party.dateIn | date:'yyyy-MM-dd'">
          </div>
          <!---->
          <div class="item-control">
            <label>Ngày vào chính thức vào Đảng </label>
            <input type="date" formControlName="dateInOfical" #partyDateInOfical
                   [value]="party.dateInOfical | date:'yyyy-MM-dd'">
          </div>
          <!---->
          <div class="item-control">
            <label>Nơi kết nạp </label>
            <input type="text" formControlName="placeIn" #partyPlaceIn>
          </div>
          <!---->
          <div class="item-control">
            <label class="mgr-15">Thông tin chi tiết : </label>
            <a href="javascript:void(0)" style="text-decoration: underline" (click)="openModal(modalActionParty)">Qúa
              trình hoạt động Đảng </a>
          </div>
        </div>

        <!--quá trình hoạt động Đoàn thể  -->
        <div class="form-item" formGroupName="actionUnion">
          <div class="form-item-title">
            Quá trình hoạt động Đoàn
          </div>
          <!---->
          <div class="item-control">
            <label>Ngày vào Đoàn </label>
            <input type="date" formControlName="dateIn" #unionDateIn [value]="union.dateIn | date:'yyyy-MM-dd'">
          </div>
          <!---->
          <div class="item-control">
            <label>Nơi kết nạp </label>
            <input type="text" formControlName="placeIn" #unionPlaceIn>
          </div>
          <!---->
          <div class="item-control">
            <label class="mgr-15">Thông tin chi tiết: </label>
            <a href="javascript:void(0)" style="text-decoration: underline" (click)="openModal(modalUnion)">Qúa trình
              hoạt
              động Đoàn </a>
          </div>
          <!---->
          <!---->
        </div>

        <!---->
      </div>

      <div class="col-xs-12 col-sm-6">
        <!--Quá trình hoạt động Quân ngũ-->
        <div class="form-item" formGroupName="actionArmy">
          <div class="form-item-title">
            Quá trình hoạt động Quân ngũ
          </div>
          <div class="item-control">
            <label>Ngày nhập ngũ/Xuất ngũ </label>
            <div class="text-right">
              <input type="date" placeholder="Ngày nhập ngũ "
                     class="mgb-10" style="float: none" formControlName="dateIn" #armyDateIn
                     [value]="army.dateIn | date:'yyyy-MM-dd'">
              <input type="date" placeholder="Ngày xuất ngũ " #armyDateOut
                     style="float: none" formControlName="dateOut" [value]="army.dateOut | date:'yyyy-MM-dd'">
            </div>
          </div>

          <div class="item-control"
               *ngIf="armyDateIn.value.trim() !='' && armyDateOut.value.trim()!='' && compareDate(armyDateIn.value,armyDateOut.value) >=0 ">
            <div class="error">
              Ngày nhập ngũ phải nhỏ hơn ngày xuất ngũ
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Quân hàm cao nhất </label>
            <select formControlName="rankTallest" #armyRankTallest class="form-control">
              <option value="">--------- Lựa chọn --------</option>
              <option *ngFor="let item of rankArmy" [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="item-control">
            <label>Hạng thương binh </label>
            <select formControlName="rankVeterans" #armyRankVeterans class="form-control">
              <option value="">--------- Lựa chọn --------</option>
              <option *ngFor="let item of rankVeterans" [value]="item">Hạng {{item + "/4"}}</option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label class="mgr-15"> Sổ thương tật </label>
            <input type="text" formControlName="bookInjured" #armyBook>
          </div>
          <!---->
          <div class="item-control">
            <label class="mgr-15"> Hình thức thương tật </label>
            <input type="text" formControlName="formInjured" #armyForm>
          </div>
          <!---->
        </div>

        <!---qua trinh hoat dong cong doan-->
        <div class="form-item" formGroupName="actionGroup">
          <div class="form-item-title">
            Quá trình hoạt động Công Đoàn
          </div>
          <!---->
          <div class="item-control">
            <label>Ngày vào Công Đoàn </label>
            <input type="date" formControlName="dateIn" #groupDateIn [value]="group.dateIn | date: 'yyyy-MM-dd'">
          </div>
          <!---->
          <div class="item-control">
            <label class="mgr-15">Thông tin chi tiết: </label>
            <a href="javascript:void(0)" (click)="openModal(modalGroup)" style="text-decoration: underline">Qúa trình
              hoạt động Công Đoàn </a>
          </div>
          <!---->
        </div>
        <!-------------------------------------->
      </div>
    </div>
  </form>
</div>


<!--modal qua trinh hoat dong dang-->
<modal #modalActionParty size="lg" [cssClass]="cssClassModal" backdrop="false">
  <div class="modal-header">
    <div class="action-form text-right">
      <button (click)="closeModal(modalActionParty)" class="mgb-20">Thoát</button>
    </div>
    <h3 class="text-center"> Quá trình hoạt động Đảng</h3>
    <div *ngIf="message.condition && partyNotValid" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>

  </div>
  <modal-body>

    <form [formGroup]="formDetailParty" id="formDetailParty">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Từ ngày</th>
          <th>Nơi sinh hoạt</th>
          <th>Chức vụ Đảng</th>
          <th>Hiện tại</th>
          <th>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td></td>
          <td>
            <input type="date" class="form-control" formControlName="dateFrom">
          </td>
          <td>
            <input type="text" class="form-control" formControlName="place">
          </td>
          <td>
            <input type="text" formControlName="position">
          </td>
          <td>
            <input type="checkbox" value="true" formControlName="now">
          </td>
          <td>
            <span class="action-icon  pdb-20" (click)="addParty()"><i class="fa fa-save"></i></span>
            <span class="action-icon  " (click)="resetForm(formDetailParty)"><i class="fa fa-remove "></i></span>
          </td>
        </tr>

        <tr *ngFor="let item of listActionParty.toArray();let inx = index">
          <td>{{inx+1}}</td>
          <td>{{item.dateFrom | date:'dd/MM/yyyy'}}</td>
          <td>{{item.place}}</td>
          <td>{{item.position}}</td>
          <td *ngIf="item.now"><span class="action-icon pdb-10"><i class="fa fa-check "></i></span></td>
          <td *ngIf="!item.now"><span class="action-icon pdb-10"></span></td>
          <td>
            <span class="action-icon" (click)="editItem('party',item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(listActionParty,item)"><i class="fa fa-remove"></i></span>
          </td>
        </tr>

        </tbody>
      </table>
    </form>
  </modal-body>


</modal>

<!--modal qua trinh hoat dong Doan-->
<modal #modalUnion size='lg' cssClass="my-modal-lg" backdrop="false">
  <div class="modal-header">
    <div class="action-form text-right">
      <button (click)="closeModal(modalUnion)" class="mgb-20">Thoát</button>
    </div>
    <h3 class="text-center">Quá trình hoạt động Đoàn</h3>
    <div *ngIf="message.condition && unionNotValid" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </div>
  <modal-body>


    <form action="" [formGroup]="formDetailUnion" id="formDetailUnion">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Từ ngày</th>
          <th>Nơi sinh hoạt</th>
          <th>Chức vụ Đoàn</th>
          <th>Chức vụ cao nhất</th>
          <th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>
            <input type="date" class="form-control" formControlName="dateFrom">
          </td>
          <td>
            <input type="text" class="form-control" formControlName="place">
          </td>
          <td>
            <input type="text" formControlName="position">
          </td>
          <td>
            <input type="checkbox" class="" value="true" formControlName="now">
          </td>
          <td>
            <span class="action-icon  " (click)="addUnion()"><i class="fa fa-save"></i></span>
            <span class="action-icon  " (click)="resetForm(formDetailUnion)"><i class="fa fa-remove "></i></span>
          </td>
        </tr>

        <tr *ngFor="let item of listActionUnion.toArray();let inx = index">
          <td>{{inx+1}}</td>
          <td>{{item.dateFrom | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.place}}</td>
          <td>{{item.position}}</td>
          <td *ngIf="item.now"><span class="action-icon pdb-10"><i class="fa fa-check "></i></span></td>
          <td *ngIf="!item.now"><span class="action-icon pdb-10"></span></td>
          <td>
            <span class="action-icon  " (click)="editItem('union',item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon  " (click)="removeItem(listActionUnion,item)"><i class="fa fa-remove"></i></span>
            <!--<span class="action-icon  "><i class="fa fa-lock "></i></span>-->
          </td>
        </tr>


        </tbody>
      </table>
    </form>
  </modal-body>
</modal>


<!--modal qua trinh hoat dong Doan-->
<modal #modalGroup size='lg' cssClass="my-modal-lg" backdrop="false">
  <div class="modal-header">
    <div class="action-form text-right">
      <button (click)="closeModal(modalGroup)" class="mgb-20">Thoát</button>
    </div>
    <h3 class="text-center">Quá trình hoạt động Công Đoàn </h3>
    <div *ngIf="message.condition && groupNotValid" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>

  </div>
  <modal-body>

    <form action="" [formGroup]="formDetailGroup" id="formDetailGroup">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Từ ngày</th>
          <th>Nơi sinh hoạt</th>
          <th>Chức vụ Công Đoàn</th>
          <th>Chức vụ cao nhất</th>
          <th>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td>
            <input type="date" class="form-control" formControlName="dateFrom">
          </td>
          <td>
            <input type="text" class="form-control" formControlName="place">
          </td>
          <td>
            <input type="text" formControlName="position">
          </td>
          <td>
            <input type="checkbox" class="" value="true" formControlName="now">
          </td>
          <td>
            <span class="action-icon  " (click)="addGroup()"><i class="fa fa-save"></i></span>
            <span class="action-icon  " (click)="resetForm(formDetailGroup)"><i class="fa fa-remove "></i></span>
          </td>
        </tr>

        <tr *ngFor="let item of listActionGroup.toArray();let inx = index">
          <td>{{inx+1}}</td>
          <td>{{item.dateFrom | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.place}}</td>
          <td>{{item.position}}</td>
          <td *ngIf="item.now"><span class="action-icon pdb-10"><i class="fa fa-check "></i></span></td>
          <td *ngIf="!item.now"><span class="action-icon pdb-10"></span></td>
          <td>
            <span class="action-icon  " (click)="editItem('group',item)"><i class="fa fa-edit"></i></span>
            <span class="action-icon  " (click)="removeItem(listActionGroup,item)"><i class="fa fa-remove"></i></span>
            <!--<span class="action-icon  "><i class="fa fa-lock "></i></span>-->
          </td>
        </tr>

        </tbody>
      </table>
    </form>
  </modal-body>
</modal>


<!--================================print==========================================-->
<div class="" style="display:none;" id="party-union-info-print">
  <h5>Quá trình hoạt động Đảng</h5>
  <p class="mgl-print-20"> Ngày vào Đảng: <span class="content-detail">{{partyDateIn.value?( partyDateIn.value | date:'dd-MM-yyyy'):''}}</span>
  </p>
  <p class="mgl-print-20">Ngày chính thức vào Đảng: <span class="content-detail">{{partyDateInOfical.value?( partyDateInOfical.value | date:'dd-MM-yyyy'):''}}</span>
  </p>
  <p class="mgl-print-20">Nơi kết nạp : <span class="content-detail">{{partyPlaceIn.value}}</span></p>
  <p class="mgl-print-20">Thông tin chi tiết </p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>STT</th>
      <th>Từ ngày</th>
      <th>Nơi sinh hoạt</th>
      <th>Chức vụ Đảng</th>
      <th>Hiện tại</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of listActionParty.toArray();let inx = index">
      <td>{{inx+1}}</td>
      <td>{{item.dateFrom | date:'dd/MM/yyyy'}}</td>
      <td>{{item.place}}</td>
      <td>{{item.position}}</td>
      <td *ngIf="item.now"><span class="action-icon pdb-10"><i class="fa fa-check "></i></span></td>
      <td *ngIf="!item.now"><span class="action-icon pdb-10"></span></td>
    </tr>

    </tbody>
  </table>

  <!------------------------->
  <h5>Quá trình hoạt động Đoàn </h5>
  <p class="mgl-print-20"> Ngày vào Đoàn: <span class="content-detail">{{unionDateIn.value?( unionDateIn.value | date:'dd-MM-yyyy'):''}}</span>
  </p>
  <p class="mgl-print-20">Nơi kết nạp : <span class="content-detail">{{unionPlaceIn.value}}</span></p>
  <p class="mgl-print-20">Thông tin chi tiết </p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>STT</th>
      <th>Từ ngày</th>
      <th>Nơi sinh hoạt</th>
      <th>Chức vụ Đoàn</th>
      <th>Chức vụ cao nhất</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of listActionUnion.toArray();let inx = index">
      <td>{{inx+1}}</td>
      <td>{{item.dateFrom | date: 'dd/MM/yyyy'}}</td>
      <td>{{item.place}}</td>
      <td>{{item.position}}</td>
      <td *ngIf="item.now"><span class="action-icon pdb-10"><i class="fa fa-check "></i></span></td>
      <td *ngIf="!item.now"><span class="action-icon pdb-10"></span></td>
    </tr>

    </tbody>
  </table>

  <!------------------------------------->

  <h5>Thông tin quân ngũ </h5>
  <p class="mgl-print-20"> Ngày nhập ngũ : <span class="content-detail">{{armyDateIn.value?( armyDateIn.value | date:'dd-MM-yyyy'):''}}</span>
  </p>
  <p class="mgl-print-20"> Ngày xuất ngũ : <span class="content-detail">{{armyDateOut.value?( armyDateOut.value | date:'dd-MM-yyyy'):''}}</span>
  </p>
  <p class="mgl-print-20" *ngIf="armyRankTallest.value.trim() != ''"> Quân hàm cao nhất : <span class="content-detail">{{armyRankTallest.value}}</span>
  </p>
  <p class="mgl-print-20" *ngIf="armyRankVeterans.value.trim() != ''"> Hạng thương binh : <span class="content-detail">{{armyRankVeterans.value}}</span>
  </p>
  <p class="mgl-print-20" *ngIf="armyBook.value.trim() != ''"> Sổ thương tật : <span class="content-detail">{{armyBook.value}}</span>
  </p>
  <p class="mgl-print-20" *ngIf="armyForm.value.trim() != ''"> Hình thức thương tật : <span class="content-detail">{{armyForm.value}}</span>
  </p>

  <!------------------->
  <h5>Quá trình hoạt động Công Đoàn </h5>
  <p class="mgl-print-20"> Ngày vào Công Đoàn: <span class="content-detail">{{groupDateIn.value?( groupDateIn.value | date:'dd-MM-yyyy'):''}}</span>
  </p>
  <p class="mgl-print-20">Thông tin chi tiết </p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>STT</th>
      <th>Từ ngày</th>
      <th>Nơi sinh hoạt</th>
      <th>Chức vụ Công Đoàn</th>
      <th>Chức vụ cao nhất</th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listActionGroup.toArray();let inx = index">
      <td>{{inx+1}}</td>
      <td>{{item.dateFrom | date: 'dd/MM/yyyy'}}</td>
      <td>{{item.place}}</td>
      <td>{{item.position}}</td>
      <td *ngIf="item.now"><span class="action-icon pdb-10"><i class="fa fa-check "></i></span></td>
      <td *ngIf="!item.now"><span class="action-icon pdb-10"></span></td>
    </tr>

    </tbody>
  </table>
</div>


