<div class="form-item">
  <div class="form-item-title">
    Quá trình  phát minh
  </div>
<form action="" [formGroup]="formData">
  <div class="action-form" style="margin-bottom: 10px;">
    <button>Ghi nhận </button>
    <button>Khóa dữ liệu</button>
  </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên phát minh/sáng chế/văn bằng bảo hộ  </th>
          <th>Cơ quan cấp  </th>
          <th>Ngày cấp </th>
          <th>Số tác giả </th>
          <th>Diễn giải  </th>
          <th>
            <span class="action-icon" (click)="openModal(evention)"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!---->
        <tr *ngFor="let item of listEvention.toArray();let i = index ">
          <td>{{i+1}}</td>
          <td>{{item.nameEvention}}</td>
          <td>{{item.organLicense}}</td>
          <td>{{item.dateOfIssue}}</td>
          <td>{{item.numberAuthor}}</td>
          <td>{{item.description}}</td>
          <td>
            <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
            <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>
            <span class="action-icon" ><i class="fa fa-lock"></i></span>
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>

</form>
</div>


<modal #evention size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(evention)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

          <div class="item-control pdt-i-0">
            <label>Tên phát minh/sáng chế/văn bằng bảo hộ </label>
            <input type="date" formControlName="nameEvention">
          </div>
          <!---->

          <div class="item-control">
            <label>Cơ quan cấp</label>
            <input type="text" formControlName="organLicense">
          </div>

          <div class="item-control  ">
            <label>Ngày cấp</label>
            <input type="date" formControlName="dateOfIssue">
          </div>
          <div class="item-control  ">
            <label>Số tác giả </label>
            <input type="text" formControlName="numberAuthor">
          </div>
          <div class="item-control  ">
            <label>Diễn giải </label>
            <input type="text" formControlName="description">
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == -1?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>
