<div class="form-item">
  <div class="form-item-title">
    Quá trình phát minh
  </div>
  <form action="" [formGroup]="formData">
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>

    <div class="table-responsive" id="process-event-print">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên PM/SC</th>
          <th>Cơ quan cấp</th>
          <th>Ngày cấp</th>
          <th>Số tác giả</th>
          <th>Diễn giải</th>
          <th class="hide-print">
            <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!---->
        <tr *ngFor="let item of listEvention.toArray();let i = index ">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.organLicense}}</td>
          <td>{{item.dateOfIssue | date:'dd/MM/yyyy'}}</td>
          <td>{{item.numberAuthor}}</td>
          <td>{{item.description}}</td>
          <td class="hide-print">
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <!--<span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove "></i></span>-->
            <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = i"><i class="fa fa-remove "></i></span>
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>

  </form>
</div>


<modal #evention size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10 text-right">
      <button (click)="closeModal(evention)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin quá trình phát minh</h3>
    <div *ngIf="message.condition && formNotValid " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>

  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="process-event">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">


          <div class="item-control pdt-i-0">
            <label>Tên phát minh/sáng chế </label>
            <input type="text" formControlName="name" required #name>
            <div class="error" *ngIf="name.value.trim()  =='' && formTouch">
              Chưa nhập tên phát minh/sáng chế
            </div>
          </div>
          <!---->

          <div class="item-control">
            <label>Cơ quan cấp</label>
            <input type="text" formControlName="organLicense" required #organLicense>
            <div class="error" *ngIf="organLicense.value.trim()  =='' && formTouch">
              Chưa nhập cơ quan cấp
            </div>
          </div>

          <div class="item-control  ">
            <label>Ngày cấp</label>
            <input type="date" formControlName="dateOfIssue" required #dateOfIssue>
            <div class="error" *ngIf="dateOfIssue.value.trim()  =='' && formTouch">
              Chưa nhập ngày cấp
            </div>
          </div>
          <div class="item-control  ">
            <label>Số tác giả </label>
            <input type="number" formControlName="numberAuthor" required #numberAuthor>
            <div class="error" *ngIf="numberAuthor.value.trim()  =='' && formTouch">
              Chưa nhập số tác giả
            </div>
          </div>
          <div class="item-control  ">
            <label>Diễn giải </label>
            <textarea rows="5" class="form-control" type="text" formControlName="description" #description required></textarea>
            <div class="error"
                 *ngIf="description.value.trim()  =='' && formTouch || description.value.trim().length < 50 && formTouch">
              Chưa nhập diễn giải, diễn giải ít nhất 50 kí tự
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>
