<div class="form-item">
  <div class="form-item-title">Quan hệ gia đình</div>
  <form>
    <!---->
    <div class="action-form" style="margin-bottom: 10px;">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <!---->
    <div class="table-responsive" id="family-print">
      <table class="table table-bordered ">
        <thead>
        <tr>
          <th>STT</th>
          <th>Quan hệ</th>
          <th>Họ tên</th>
          <th>Năm sinh</th>
          <th>Nghề nghiệp</th>
          <th class="hide-print">
            <span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <!---->
        <!---->
        <tr *ngFor="let item of listRelationFamily.toArray(); let i = index ">
          <td>{{i+1}}</td>
          <td>{{item.relation}}</td>
          <td>{{item.name}}</td>
          <td>{{item.yearBirth}}</td>
          <td>{{item.job}}</td>
          <td class="hide-print">
            <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
            <!--<span class="action-icon" (click)="removeItem(item)"><i class="fa fa-remove"></i></span>-->
            <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = item"><i class="fa fa-remove "></i></span>
          </td>
        </tr>
        <!---->
        </tbody>
      </table>
    </div>
  </form>
</div>



<!--modal qua trinh hoat dong Doan-->
<modal #modalFamily size='lg' cssClass="my-modal-lg" backdrop="false">
  <modal-header>
    <div class="action-form mgb-i-10 text-right">
      <button (click)="closeModal(modalFamily)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin quan hệ gia đình </h3>
    <div *ngIf="message.condition && formNotValid" [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>
  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="form-family">
      <div class="row">
        <div class="col-xs-12 col-sm-6 ">
          <!---->

          <!---->
          <div class="item-control pdt-i-0">
            <label>Họ tên</label>
            <input id="cv-name" type="text" class="form-control" #name formControlName="name"/>
            <div class="error" *ngIf="name.value.trim()  =='' && formTouch">
              Chưa nhập họ tên
            </div>
          </div>
          <!---->


          <div class="item-control ">
            <label>Quan hệ </label>
            <select class="form-control" formControlName="relation" #relation>
              <option style="text-transform: capitalize" *ngFor="let item of listRealtion" [value]="item">{{item}}
              </option>
            </select>
            <div class="error" *ngIf="relation.value.trim()  =='' && formTouch">
              Chưa chọn quan hệ
            </div>
          </div>


        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="item-control pdt-i-0">
            <label>Năm sinh </label>
            <select class="form-control" formControlName="yearBirth" #yearBirth>
              <option *ngFor="let item of listYear" [value]="item">{{item}}</option>
            </select>
            <div class="error" *ngIf="yearBirth.value.trim()  =='' && formTouch">
              Chưa chọn năm sinh
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Nghề nghiệp </label>
            <input type="text" class="form-control" formControlName="job" #job/>
            <div class="error" *ngIf="job.value.trim()  =='' && formTouch">
              Chưa nhập nghề nghiệp
            </div>
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{updateTemp == null?'Thêm':'Cập nhật '}}</button>
  </modal-footer>

</modal>


<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>
