<div app-head class="pdb-30"></div>
<div app-nav-bar class="pdb-30"></div>
<div app-slider-banner class="hidden-xs pdb-30"></div>
<div app-new class="pdb-30"></div>
<div app-banner class="hidden-xs pdb-30"></div>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12  pdb-30">
      <div app-tab-faculty></div>
    </div>

    <div class="col-md-4 col-sm-12  col-xs-12  pdb-30">
      <div app-calendar></div>
    </div>
    <div class="col-md-2 col-xs-12 ">
      <div app-publish class="pdb-30"></div>
    </div>
    <div class="clear-fix"></div>
  </div>
</div>

<div  app-footer></div>

<div >
  <div app-tab-left></div>
</div>

<div app-top></div>
<div app-persons></div>
