<router-outlet></router-outlet>

<!--<div class="mgb-50">-->
  <!--<app-header-2></app-header-2>-->
<!--</div>-->

<!--<div class="container">-->

  <!--<div id="app-menu-left">-->
    <!--<div class="app-menu-content">-->

      <!--<h4 class="app-menu-title-catalog" (click)="toggleCatalog('menu-info')">{{titleFeature}} </h4>-->
      <!--<app-menu-app [menus]="menuInfo" id="menu-info"></app-menu-app>-->

      <!--<h4 class="app-menu-title-catalog" (click)="toggleCatalog('menuManager')">Quản lý nhân sự  </h4>-->
      <!--<app-menu-app [menus]="menuManager" id="menuManager" cssClass="height-i-auto"></app-menu-app>-->


      <!--<h4 class="app-menu-title-catalog" (click)="toggleCatalog('menuManager2')">Quản lý nhân sự  </h4>-->
      <!--<app-menu-app [menus]="menuManager" id="menuManager2" cssClass="height-i-auto"></app-menu-app>-->


    <!--</div>-->
  <!--</div>-->


  <!--<div id="app-menu-right">-->
    <!--<ul class="menu-app">-->
      <!--<li><a routerLinkActive="active" routerLink="/manager-personnel" (click)="navigate('info')">Thông tin nhân sự </a></li>-->
      <!--<li><a routerLinkActive="active" routerLink="/manager-personnel/add-personnel" (click)="navigate('manager')">Quản lý nhân nhân sự </a></li>-->
    <!--</ul>-->

  <!--</div>-->


  <!--&lt;!&ndash;Sơ yếu lí lịch &ndash;&gt;-->
  <!--<div id="app-curriculum-vitae">-->
    <!--<app-curriculum-vitae></app-curriculum-vitae>-->
  <!--</div>-->

  <!--&lt;!&ndash;Đảng đoàn công đoàn &ndash;&gt;-->
  <!--<div id="app-party-union">-->
    <!--<app-party-union></app-party-union>-->
  <!--</div>-->

  <!--&lt;!&ndash;Quan hệ gia đình &ndash;&gt;-->
  <!--<div id="app-family-relationship">-->
    <!--<app-family-relationship></app-family-relationship>-->
  <!--</div>-->

  <!--&lt;!&ndash;thong tin hop dong&ndash;&gt;-->
  <!--<div id="app-contract">-->
    <!--<app-contract></app-contract>-->
  <!--</div>-->


  <!--&lt;!&ndash;Qúa trình làm việc &ndash;&gt;-->
  <!--<div id="app-process-work">-->
    <!--<app-process-work></app-process-work>-->
  <!--</div>-->

  <!--&lt;!&ndash;Qua trinh phat minh sang che &ndash;&gt;-->
  <!--<div id="app-process-evention">-->
    <!--<app-process-evention></app-process-evention>-->
  <!--</div>-->

  <!--&lt;!&ndash;QUas tring giang day&ndash;&gt;-->
  <!--<div id="app-process-teaching">-->
    <!--<app-process-teaching></app-process-teaching>-->
  <!--</div>-->

  <!--&lt;!&ndash;Hoat dong xuat ban &ndash;&gt;-->
  <!--<div id="app-publish-info">-->
    <!--<app-publish-info></app-publish-info>-->
  <!--</div>-->

  <!--&lt;!&ndash;Bao cao, bai bao khoa hoc &ndash;&gt;-->
  <!--<div id="app-senimar-newpaper">-->
    <!--<app-senimar-newpaper></app-senimar-newpaper>-->
  <!--</div>-->

  <!--&lt;!&ndash; De tai khoa hoc &ndash;&gt;-->
  <!--<div id="app-science-topic">-->
    <!--<app-science-topic></app-science-topic>-->
  <!--</div>-->

  <!--&lt;!&ndash;Huong dan luan van&ndash;&gt;-->
  <!--<div id="app-thesis-guide">-->
    <!--<app-thesis-guide></app-thesis-guide>-->
  <!--</div>-->


  <!--&lt;!&ndash;QUa trinh di nuoc ngoai&ndash;&gt;-->
  <!--<div id="app-foreign">-->
    <!--<app-foreign></app-foreign>-->
  <!--</div>-->


  <!--&lt;!&ndash;nhap thong tin nghach l-uong&ndash;&gt;-->
  <!--<div id="app-salary-brief">-->
    <!--<app-salary-brief></app-salary-brief>-->
  <!--</div>-->


  <!--&lt;!&ndash;danh hieu thi dua &ndash;&gt;-->
  <!--<div id="app-emulation-title">-->
    <!--<app-emulation-title></app-emulation-title>-->
  <!--</div>-->


  <!--&lt;!&ndash;Học hàm , danh hiệu nhà giáo &ndash;&gt;-->
  <!--<div id="app-academic-rank">-->
    <!--<app-academic-rank></app-academic-rank>-->
  <!--</div>-->


  <!--&lt;!&ndash;kỷ luật khen thưởng &ndash;&gt;-->
  <!--<div id="app-bonus-discipline">-->
    <!--<app-bonus-discipline></app-bonus-discipline>-->
  <!--</div>-->



  <!--<div id="app-politic-language-technology">-->
    <!--&lt;!&ndash;Trinh độ ngoại ngữ &ndash;&gt;-->
    <!--<app-foreign-language></app-foreign-language>-->
    <!--&lt;!&ndash;Trinh do chinh tri&ndash;&gt;-->
    <!--<app-politic></app-politic>-->
    <!--&lt;!&ndash;Trinh do tin hoc &ndash;&gt;-->
    <!--<app-info-technology></app-info-technology>-->
  <!--</div>-->


  <!--&lt;!&ndash;Qua trinh dao tao&ndash;&gt;-->
  <!--<div id="app-train">-->
    <!--<app-train></app-train>-->
  <!--</div>-->




  <!--&lt;!&ndash;lưu ý form&ndash;&gt;-->
  <!--<div id="app-note-form">-->
    <!--<app-note-form></app-note-form>-->
  <!--</div>-->

  <!--&lt;!&ndash;quan ly nhan su&ndash;&gt;-->
  <!--&lt;!&ndash;Thuc tuc chuyen phong ban&ndash;&gt;-->
  <!--<div id="app-procedure-transfer-department">-->
    <!--<app-procedure-transfer-department></app-procedure-transfer-department>-->
  <!--</div>-->

  <!--&lt;!&ndash;Chuyen don vi cong tac &ndash;&gt;-->
  <!--<div id="app-procedure-transfer-unit-work">-->
    <!--<app-procedure-transfer-unit-work></app-procedure-transfer-unit-work>-->
  <!--</div>-->

  <!--&lt;!&ndash;Thu tuc buoc thoi viec&ndash;&gt;-->
  <!--<div id="app-procedure-bind-job">-->
    <!--<app-procedure-bind-job></app-procedure-bind-job>-->
  <!--</div>-->

  <!--&lt;!&ndash;Thu tuc ve huu&ndash;&gt;-->
  <!--<div id="app-procedure-retire">-->
    <!--<app-procedure-retire></app-procedure-retire>-->
  <!--</div>-->

  <!--&lt;!&ndash;thủ tục nghỉ việc &ndash;&gt;-->
  <!--<div id="app-procedure-leave-job">-->
    <!--<app-procedure-leave-job></app-procedure-leave-job>-->
  <!--</div>-->

  <!--&lt;!&ndash;Sửa thông tin cán bộ &ndash;&gt;-->
  <!--<div id="app-edit-personnel">-->
    <!--<app-edit-personnel></app-edit-personnel>-->
  <!--</div>-->

  <!--&lt;!&ndash;Thêm mơi cán bộ &ndash;&gt;-->
  <!--<div id="app-add-personnel">-->
    <!--<app-add-personnel></app-add-personnel>-->
  <!--</div>-->

  <!--End quan ly nhan su-->


<!--</div>-->
<!--<div app-top></div>-->
