<form [formGroup]="formMain">
  <div class="action-form">
    <button>Khóa dữ liệu</button>
  </div>
  <div class="row">

    <div class="col-xs-12">
      <div class="form-item">
        <div class="form-item-title">
          Danh sách
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>STT</th>
              <th>Từ ngày</th>
              <th>Đến ngày</th>
              <th>Ngạch</th>
              <th>Bậc</th>
              <th>HSL</th>
              <th>Số QD</th>
              <th>Hiên tại</th>
              <th>  <span class="action-icon" (click)="openModal(modalSalary)"><i class="fa fa-plus"></i></span></th>
            </tr>
            </thead>
            <tbody>
            <!---->
            <tr *ngFor="let item of listSalaryBrief.toArray();let i = index ">
              <td>{{i+1}}</td>
              <td>{{item.dateFrom}}</td>
              <td>{{item.dateEnd}}</td>
              <td>{{item.brief}}</td>
              <td>{{item.level}}</td>
              <td>{{item.factorSalary}}</td>
              <td>{{item.numberDecide}}</td>
              <td>
                <input type="radio" style="width: auto" formControlName="now" [value]="i">
              </td>
              <td>
                <span class="action-icon" (click)="editItem(i)"><i class="fa fa-edit"></i></span>
                <span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove"></i></span>
                <span class="action-icon" (click)="blockItem(i)"><i class="fa fa-lock"></i></span>
              </td>
            </tr>
            <!---->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!---->
</form>

<modal #modalSalary size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modalSalary)">Thoát</button>
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="item-control">
            <label>Từ ngày </label>
            <input type="date" formControlName="dateFrom">
          </div>
          <!---->
          <div class="item-control">
            <label>Đến ngày </label>
            <input type="date" formControlName="dateEnd">
          </div>
          <!---->
          <div class="item-control">
            <label>Loại ngạch </label>
            <select class="form-control" formControlName="specie">
              <option value="">Chọn loại ngạch</option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label>Nhóm ngạch </label>
            <select class="form-control" formControlName="group">
              <option value="">Nhóm ngạch</option>
            </select>
          </div>
        </div>

        <!---->
        <div class="col-xs-12 col-sm-4">
          <div class="item-control">
            <label>Ngạch </label>
            <select class="form-control" formControlName="brief">
              <option value="">Chọn ngạch</option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label>Bậc </label>
            <select class="form-control" formControlName="level">
              <option value="">Chọn Bậc</option>
            </select>
          </div>
          <!---->
          <div class="item-control">
            <label>% Vượt khung </label>
            <input type="text" formControlName="percentExcessive">
          </div>
          <!---->
          <div class="item-control">
            <label>Hệ số lương </label>
            <input type="text" formControlName="factorSalary">
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <!---->
          <div class="item-control">
            <label>Số quyết định </label>
            <input type="text" formControlName="numberDecide">
          </div>
          <!---->
          <div class="item-control">
            <label>Ngày xét tăng lương dự kiến </label>
            <input type="text" formControlName="dateSalaryUpExpected">
          </div>
          <!---->
          <div class="item-control">
            <label>Tỉ lệ phụ cấp nghề hiện tại </label>
            <input type="text" formControlName="allowanceNow"> %
          </div>
          <!---->
          <div class="item-control">
            <label>Hệ sô phụ cấp trách nhiệm hiện tại </label>
            <input type="text" formControlName="responsibilityNow"> %
          </div>
        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == -1?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

