<div class="form-item">
  <div class="form-item-title">
    Lịch sử lương
  </div>
  <form [formGroup]="formMain">
    <div class="action-form">
      <button (click)="onSave()">Ghi nhận</button>
      <div *ngIf="message.condition && formNotValid == false" [ngClass]="'alert alert-'+ message.type">
        {{message.content}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-item">
          <div class="form-item-title">
            Danh sách
          </div>
          <div class="table-responsive" id="salary-print">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>STT</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Ngạch</th>
                <th>Bậc</th>
                <th>HSL</th>
                <th>Số QD</th>
                <!-- <th>Hiên tại</th> -->
                <th class="hide-print"><span class="action-icon" (click)="openModals()"><i class="fa fa-plus"></i></span></th>
              </tr>
              </thead>
              <tbody>
              <!---->
              <tr *ngFor="let item of listSalaryBrief.toArray();let i = index ">
                <td>{{i+1}}</td>
                <td>{{item.dateFrom | date:'dd/MM/yyyy'}}</td>
                <td>{{item.dateEnd | date:'dd/MM/yyyy'}}</td>
                <td>{{item.rank}}</td>
                <td>{{item.level}}</td>
                <td>{{item.factorSalary}}</td>
                <td>{{item.numberDecide}}</td>
                <!-- <td>
                  <input type="radio" style="width: auto" formControlName="now" [value]="i">
                </td> -->
                <td class="hide-print">
                  <span class="action-icon" (click)="editItem(item)"><i class="fa fa-edit"></i></span>
                  <!--<span class="action-icon" (click)="removeItem(i)"><i class="fa fa-remove"></i></span>-->
                  <span class="action-icon" (click)="confirmDiaglog.open();itemDelete = i"><i class="fa fa-remove "></i></span>
                  <!--   <span class="action-icon" (click)="blockItem(i)"><i class="fa fa-lock"></i></span> -->
                </td>
              </tr>
              <!---->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<modal #modalSalary size='lg' cssClass="my-modal-lg" backdrop="false">

  <modal-header>
    <div class="action-form mgb-i-10">
      <button (click)="closeModal(modalSalary)">Thoát</button>
    </div>
    <h3 class="text-center">Thông tin lương </h3>
    <div *ngIf="message.condition && formNotValid " [ngClass]="'alert alert-'+ message.type">
      {{message.content}}
    </div>
  </modal-header>

  <modal-body>
    <form action="" class="mgb-i-10" [formGroup]="formData" id="salary-brief">
      <div class="row">
        <div class="col-xs-12 col-sm-6">

          <div class="item-control">
            <label>Loại ngạch </label>
            <select name="specie" class="form-control" [(ngModel)]="specie" formControlName="specie"
                    (change)="spieceChange()" required>
              <option *ngFor="let item of spieceRanks" [value]="item">{{item}}</option>
            </select>
            <div class="error" *ngIf="!specie && formTouch  || specie && specie.trim()  =='' && formTouch">
              Chưa chọn loại ngạch
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Nhóm ngạch </label>
            <select class="form-control" formControlName="group" [(ngModel)]="group"
                    (change)="groupChange()" required>
              <option *ngFor="let item of listGroup" [value]="item.group.name">{{item.group.name}}</option>
            </select>
            <div class="error" *ngIf="!group && formTouch||group && group.trim()  =='' && formTouch">
              Chưa chọn nhóm ngạch
            </div>
          </div>

          <div class="item-control">
            <label>Từ ngày </label>
            <input type="date" formControlName="dateFrom" #dateFrom required>
            <div class="error" *ngIf="dateFrom.value.trim()  =='' && formTouch">
              Chưa nhập từ ngày
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Đến ngày </label>
            <input type="date" formControlName="dateEnd"  #dateEnd>
            <!--<div class="error" *ngIf="dateEnd.value.trim()  =='' && formTouch">-->
              <!--Chưa nhập đến ngày-->
            <!--</div>-->
          </div>
          <!---->

        </div>

        <!---->
        <div class="col-xs-12 col-sm-6">
          <div class="item-control">
            <label>Ngạch </label>
            <select class="form-control" [(ngModel)]="rank" formControlName="rank"
                    (change)="rankChange()" required>
              <option *ngFor="let item of listRank" [value]="item">{{item}}</option>
            </select>
            <div class="error" *ngIf="!rank && formTouch|| rank && rank.trim()  =='' && formTouch">
              Chưa chọn ngạch
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label>Bậc </label>
            <select class="form-control" [(ngModel)]="levelChoise" formControlName="level"
                    (change)="levelChange()" required>
              <option *ngFor="let item of level" [value]="item.name">{{item.name}}</option>
            </select>
            <div class="error" *ngIf="!levelChoise && formTouch||levelChoise && levelChoise.trim()  =='' && formTouch">
              Chưa chọn bậc
            </div>
          </div>
          <!---->
          <div class="item-control">
            <label> Số quyết định  </label>
            <input type="text" formControlName="numberDecide" required #numberDecide>
            <div class="error" *ngIf="numberDecide.value.trim()  =='' && formTouch">
              Chưa nhập số quyết định
            </div>
          </div>

        </div>
      </div>
    </form>
  </modal-body>

  <modal-footer>
    <button class="btn-action" (click)="addItem()">{{positionUpdate == null?'Thêm':'Cập nhật'}}</button>
  </modal-footer>

</modal>

<app-alert-confirm #confirmDiaglog (onAction)="confirm($event)"></app-alert-confirm>
